input,
textarea {
  box-shadow: 0.5px 0.5px 1px;
}
label {
  font-weight: 700;
  font-size: 1rem;
}

.my-nav-old {
  padding: 0.25rem 0.3rem !important;
  cursor: pointer;
  font-weight: 500;
}
.active-old {
  color: #fff;
  background-color: #fd7e14e8 !important;
}

.left {
    padding-right: 0 !important;
  }
  .center {
    padding-left: 8px !important;
    padding-right: 0 !important;

  }
  .right {
    padding-left: 8px !important;

  }
  /* mobile width < 740px */
  @media only screen and (max-width: 46.1875rem) {
    .left {
      padding-right: 15px !important;
      padding-bottom: 15px !important;
    }
    .right {
      padding-left: 15px !important;
      padding-right: 0 !important;

    }
    .center {
        padding-left: 15px !important;

      }
  }
  /* tablet width >= 740px and width < 1024px */
  @media only screen and (min-width: 46.1875rem) and (max-width: 63.9375rem) {
    .left {
      padding-right: 15px !important;
      padding-bottom: 15px !important;

    }
    .right {
      padding-left: 15px !important;
      padding-right: 0 !important;

    }
    .center {
        padding-left: 15px !important;

      }
  }
