<div class="row">
  <div class="col-lg-3 col-12 col-xl-3 left">
    <div class="card main-card">
      <div class="card-header p-0">
        <div style="height: 43px; line-height: 43px; font-weight: 500">
          <span style="padding-left: 0.5rem">
            {{ "Dashboard Setting" | translate }}
          </span>
        </div>
      </div>
      <div class="card-body p-0">
        <app-create-dashboard (dashboardGuid)="onDashboardGuid($event)"></app-create-dashboard>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-lg-3 col-12 col-xl-3 center">
    <div class="card main-card">
      <div class="card-header p-0">
        <div style="height: 43px; line-height: 43px; font-weight: 500">
          <span style="padding-left: 0.5rem">
            {{ "Area Setting" | translate }}
          </span>
        </div>
      </div>
      <div class="card-body p-0">
        <app-create-area  (areaGuid)="onAreaGuid($event)" [dashboardGuid]="dashboardGuid"></app-create-area>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-12 right">
    <div class="card main-card">
      <div class="card-header p-0">
        <div style="height: 43px; line-height: 43px; font-weight: 500">
          <span style="padding-left: 0.5rem">
            {{ "Item Setting" | translate }}
          </span>
        </div>
      </div>
      <div class="card-body p-0">
        <nav class="nav nav-pills nav-justified p-2">
          <a
            class="nav-link my-nav"
            (click)="active = 'Table'"
            [ngClass]="{ active: active == 'Table' }"
            >{{ "Table" | translate }}</a
          >
          <a
            class="nav-link my-nav"
            (click)="active = 'Chart'"
            [ngClass]="{ active: active == 'Chart' }"
            >{{ "Chart" | translate }}</a
          >
          <a
          class="nav-link my-nav"
          (click)="active = 'Normal'"
          [ngClass]="{ active: active == 'Normal' }"
          >{{ "Normal" | translate }}</a
        >
        </nav>

        <ng-container *ngIf="active == 'Table'">
          <app-setting-dashboard-table></app-setting-dashboard-table>
        </ng-container>

        <ng-container *ngIf="active == 'Chart'">
          <app-setting-dashboard-chart></app-setting-dashboard-chart>
        </ng-container>

        <ng-container *ngIf="active == 'Normal'">
          <app-setting-dashboard-normal></app-setting-dashboard-normal>

        </ng-container>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
