
<ng-template #odsTemplate let-data>
  <button
    class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib"
    type="button"
    id="grid_odsexport"
    tabindex="-1"
    (click)="odsExport()"
    style="width: auto"
  >
    <span class="e-btn-icon e-pdfexport e-icons e-icon-left"></span
    ><span class="e-tbar-btn-text"
      >{{ "Ods Export" | translate }}
    </span>
  </button>
</ng-template>
<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="true"
  [allowResizing]="true"
  [allowSorting]="true"
  gridLines="Both"
  [query]="query"
  [locale]="locale"
  (actionBegin)="actionBegin($event)"

  [editSettings]="editSettings"
  [pageSettings]="pageSettings"
  [toolbar]="toolbarOptions"
  [allowExcelExport]="true"
  (rowSelected)="rowSelected($event)"
  (recordClick)="recordClick($event)"
  (recordDoubleClick)="onDoubleClick($event)"
  [selectionSettings]="selectionOptions"
  (toolbarClick)="toolbarClick($event)"
  (rowDataBound)='rowDataBoundApplyOrder($event)'
  (excelExportComplete)="excelExpComplete($event)"
>
  <e-columns>
    <e-column
      field="option"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      textAlign="Left"
      headerTextAlign="Center"
      width="120"
      headerTextAlign="Center"
      headerText="{{ 'OPTION' | translate }}"
    >
      <ng-template #template let-data>
        <span (click)="delete(data.id)" class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
        <span (click)="openModal(optionModal, data)" class="edit-grid">
          <i class="fa fa-edit"></i>
        </span>
      </ng-template>
    </e-column>
        <e-column
      field="estDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'EST_DATETIME' | translate }}"
    >
    </e-column>
<e-column
    field="statusName"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ORDER_STATUS' | translate }}"
  >
  </e-column>
  <e-column
  field="orderNo"
[allowSearching]="false"
textAlign="Left"
  headerTextAlign="Center"
  headerText="{{ 'ORDER_NO' | translate }}"
>
</e-column>
  <e-column
  field="roomName"
[allowSearching]="false"
textAlign="Left"
  headerTextAlign="Center"
  headerText="{{ 'ROOM' | translate }}"
>
</e-column>

  <e-column
  field="applyName"
[allowSearching]="false"
textAlign="Left"
  headerTextAlign="Center"
  headerText="{{ 'Apply_Name' | translate }}"
>
</e-column>

<e-column
field="agreeName"
[allowSearching]="false"
textAlign="Left"
headerTextAlign="Center"
headerText="{{ 'Agree_Name/Reject_Name' | translate }}"
>
<ng-template #template let-data>
  {{ data.status === 5 ? data.rejectName :  data.status === 2 || data.status === 4 ? data.agreeName : "" }}
</ng-template>
</e-column>
<e-column
field="inventoryName"
[allowSearching]="false"
textAlign="Left"
headerTextAlign="Center"
headerText="{{ 'Inventory_Name' | translate }}"
>
</e-column>
<e-column
field="executeName"
[allowSearching]="false"
textAlign="Left"
headerTextAlign="Center"
headerText="{{ 'Execute_Name' | translate }}"
>
</e-column>

    <e-column
      field="typeName"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'Disinfection_Type' | translate }}"
    >
    </e-column>

    <e-column
      field="applyDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'APPLY_DATE' | translate }}"
    >
    </e-column>

    <e-column
      field="applyReason"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'APPLY_REASON' | translate }}"
    >
    </e-column>

    <e-column
      field="agreeDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'AGREE_DATE' | translate }}"
    >
    </e-column>

    <e-column
      field="agreeReason"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'AGREE_REASON' | translate }}"
    >
    </e-column>

    <e-column
      field="rejectDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'REJECT_DATE' | translate }}"
    >
    </e-column>

    <e-column
      field="rejectReason"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'REJECT_REASON' | translate }}"
    >
    </e-column>
    <e-column
    field="inventoryReason"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'INVENTORY_REASON' | translate }}"
  >
  </e-column>
 <e-column
    field="veterinaryDate"
    format="yyyy/MM/dd"
    type="Date"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'VETERINARY_DATE' | translate }}"
  >
  </e-column>
    <e-column
      field="executeDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'EXECUTE_DATE' | translate }}"
    >
    </e-column>

    <e-column
      field="executeReason"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'EXECUTE_REASON' | translate }}"
    >
    </e-column>

    <e-column
      field="id"
      [allowSearching]="false"
      textAlign="Left"
      headerTextAlign="Center"
      [isPrimaryKey]="true"
      [visible]="false"
      headerText="ID"
    >
    </e-column>
  </e-columns>
</ejs-grid>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 [ngbTooltip]="title" class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="type">{{ "Disinfection_Type" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-code-type-dropdownlist
            id="record-disinfection-type-remote"
            [codeType]="'Record_Disinfection_Type'"
            [(selectedValue)]="model.type"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
            <label for="estDate">{{ "EST_DATE" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.estDate"
          ></ejs-datepicker>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="disinfectionGuid">{{ "DISINFECTION" | translate }}</label>
          <app-account-dropdownlist
              id="disinfectionGuid"
              [(selectedValue)]="model.disinfectionGuid"

            >
            </app-account-dropdownlist>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="capacity">{{ "Disinfection_Capacity" | translate }}</label>
          <app-code-type-dropdownlist
          id="capacity-remote"
          [codeType]="'Disinfection_Capacity'"
          [(selectedValue)]="model.capacity"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>
    </div>



   <!-- Execute 2 inventory -->
  <div
  class="row"

>
  <div class="col-md-4">
    <div class="form-group">
      <label for="inventoryDate">{{ "INVENTORY_DATE" | translate }}</label>
      <ejs-datepicker
        locale="en-US"
        format="yyyy/MM/dd"
        [(ngModel)]="model.inventoryDate"
        [disabled]="true"
      ></ejs-datepicker>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="inventoryReason">{{ "INVENTORY_REASON" | translate }}</label>
      <span ngbTooltip="Text length" class="max-length">
        ( {{ "Text length" | translate }} <= 100 )</span
      >
      <input
        [(ngModel)]="model.inventoryReason"
        maxlength="100"
        type="text"
        class="form-control"
      />
    </div>
  </div>

  <div class="col-md-4">
    <div class="row no-gutters">
      <div class="col-md-9">
        <div class="form-group">
          <label for="inventoryGuid">{{ "INVENTORY_GUID" | translate }}</label>
          <app-account-dropdownlist
            id="inventoryGuid"
            [(selectedValue)]="model.inventoryGuid"
            [disabled]="true"
          >
          </app-account-dropdownlist>


        </div>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <button
  *ngIf="!model.inventoryGuid"
  (click)="inventory()"
  class="btn btn-success mb-3 ml-2"
>
  {{ "Execute 1" | translate }}
</button>
      </div>
    </div>

  </div>
</div>
<!-- End execute 2 inventory -->

<!-- Execute -->
<div
 class="row"

>
 <div class="col-md-4">
   <div class="form-group">
     <label for="executeDate">{{ "EXECUTE_DATE" | translate }}</label>
     <ejs-datepicker
       locale="en-US"
       format="yyyy/MM/dd"
       [(ngModel)]="model.executeDate"
       [disabled]="true"
     ></ejs-datepicker>
   </div>
 </div>

 <div class="col-md-4">
   <div class="form-group">
     <label for="executeReason">{{ "EXECUTE_REASON" | translate }}</label>
     <span ngbTooltip="Text length" class="max-length">
       ( {{ "Text length" | translate }} <= 100 )</span
     >
     <input
       [(ngModel)]="model.executeReason"
       maxlength="100"
       type="text"
       class="form-control"
     />
   </div>
 </div>

 <div class="col-md-4">
   <div class="row no-gutters">
     <div class="col-md-9">
       <div class="form-group">
         <label for="executeGuid">{{ "EXECUTE_GUID" | translate }}</label>
         <app-account-dropdownlist
           id="executeGuid"
           [(selectedValue)]="model.executeGuid"
           [disabled]="true"
         >
         </app-account-dropdownlist>


       </div>
     </div>
     <div class="col-md-3 d-flex align-items-end">
       <button
       *ngIf="model.id > 0 && !model.inventoryGuid && enabledInput(model.executeDate)"
 (click)="execute()"
 class="btn btn-success mb-3 ml-2"
>
 {{ "Execute 2" | translate }}
</button>
     </div>
   </div>

 </div>
</div>
<!-- End execute -->
    <div class="row">
      <div class="col-md-4">
        <label for="areaGuid">{{ "Area" | translate }}</label>
        <app-area-dropdownlist
          id="areaGuid"
          [(selectedValue)]="areaGuid"
          (change)='onChangeArea($event)'
        >
        </app-area-dropdownlist>
      </div>

      <div class="col-md-4">
        <label for="barnGuid">{{ "Barn" | translate }}</label>
        <app-barn-dropdownlist
          id="barnGuid"
          [areaGuid]="areaGuid"
          [autoload]="false"
          [(selectedValue)]="barnGuid"
          (change)='onChangeBarn($event)'
        >
        </app-barn-dropdownlist>
      </div>
      <div class="col-md-4">
        <label for="roomGuid">{{ "ROOM" | translate }}</label>
        <app-room-dropdownlist
          id="roomGuid"
          [(selectedValue)]="roomGuid"
          (change)='onChangeRoom($event)'
        >
        </app-room-dropdownlist>
      </div>
      <div class="col-md-4">
        <label for="penGuid">{{ "Pen" | translate }}</label>
        <ejs-multiselect id='multiselect-checkbox' (actionComplete)="actionComplete($event)" (filtering)='onFiltering($event)' [allowFiltering]='true' [dataSource]='dataPen' [query]="queryPen" [fields]="fields" mode='CheckBox' popupHeight='350px' [showDropDownIcon]='true' [(ngModel)]="selectedPen" (ngModelChange)="onChangePen($event)" showSelectAll='true' ></ejs-multiselect>

      </div>
      <div class="col-md-12 mt-2">
        <ejs-grid
        #piggrid
        [dataSource]="selectedPenData"
        [enableInfiniteScrolling]="true"
        [allowPaging]="false"
        [pageSettings]="pageSettings"
        [searchSettings]="searchOptions"
        [toolbar]="['Search']"
        [height]="300 + 'px'"
        gridLines="Both"

        >
        <e-columns>
        <e-column
          field="name"
          [allowSorting]="false"
          [allowSearching]="false"
          [allowGrouping]="false"
          [allowFiltering]="false"
          [allowEditing]="false"
          textAlign="Left"
                  headerTextAlign="Center"
          width="80"
          headerTextAlign="Center"
          headerText="{{ 'SELECTED PEN LIST' | translate }}"
        >
          <!-- <ng-template #template let-data>
            <ejs-checkbox [disabled]="model.status === 3" #checkbox (change)="onChangeChecked($event, data)" [label]="data.name" [checked]="data.checked"></ejs-checkbox>
          </ng-template> -->
        </e-column>

        </e-columns>
        </ejs-grid>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label ngbTooltip="RECORD_DISINFECTION_COMMENT" for="comment">{{
            "RECORD_DISINFECTION_COMMENT" | translate
          }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">{{ "Create by" | translate }}</span>
          : {{ audit?.createBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Create date time" | translate
          }}</span>
          : {{ audit?.createDate }}</span
        >
      </p>
      <p>
        <span class="mr-2"
          ><span class="my-font-weight-bold">{{
            "Update by" | translate
          }}</span>
          : {{ audit?.updateBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Update date time" | translate
          }}</span>
          : {{ audit?.updateDate }}</span
        >
      </p>
    </div>
    <div class="mr-auto primary-key" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">ID</span> : {{ model?.id }}</span
        >
        <span
          ><span class="my-font-weight-bold">GUID</span> :
          {{ model?.guid }}</span
        >
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ "Note: (*) is a required field" | translate }}
    </span>
    <div *ngFor="let item of configButtonData">
      <button
      type="button"
      class="btn"
      *ngIf="model.guid"
      [class.btn-success]="item.no.includes('Next')"
      [class.btn-danger]="item.no.includes('Exception')"
      (click)="goToLink(item)"
    >
      {{ item.value | translate }}
    </button>
    </div>
    <button
      type="button"
      class="btn btn-light"
      ngbTooltip="CLOSE"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>

  </div>
</ng-template>
