<div class="row mb-2">
  <div class="col-12 mb-2 flex-container">
    <div><h3>育種通報</h3></div>
    <div>年月</div>
    <div>
      <ejs-datepicker format="yyyy/MM" [(value)]="yearMonth" depth="Year" start="Year" [enableMask]="true" style="width:120px"></ejs-datepicker>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color1">
        <div class="card-body">
          <h5 class="card-title">發情</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color1">
        <div class="card-body">
          <h5 class="card-title">配種</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color2">
        <div class="card-body">
          <h5 class="card-title">測孕</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color2">
        <div class="card-body">
          <h5 class="card-title">分娩轉舍</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color2">
        <div class="card-body">
          <h5 class="card-title">分娩</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color2">
        <div class="card-body">
          <h5 class="card-title">部分離乳</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color2">
        <div class="card-body">
          <h5 class="card-title">完全離乳</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color5">
        <div class="card-body">
          <h5 class="card-title">精液採集</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color1">
        <div class="card-body">
          <h5 class="card-title">未配種</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color1">
        <div class="card-body">
          <h5 class="card-title">配種觀察</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color4">
        <div class="card-body">
          <h5 class="card-title">空胎</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color4">
        <div class="card-body">
          <h5 class="card-title">流產</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color3">
        <div class="card-body">
          <h5 class="card-title">肉豬轉舍</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color3">
        <div class="card-body">
          <h5 class="card-title">飼料紀錄</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color3">
        <div class="card-body">
          <h5 class="card-title">販售處理</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color4">
        <div class="card-body">
          <h5 class="card-title">仔豬死亡</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color4">
        <div class="card-body">
          <h5 class="card-title">豬隻死亡</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card-group">
      <div class="card text-white color3">
        <div class="card-body">
          <h5 class="card-title">寄養</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-6">01</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <h3>生物安全-疾病作業</h3>
  </div>
    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">豬隻疾病診斷</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">豬隻疾病處方</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">豬隻疾病隔離</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">豬隻疾病治療</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">豬隻疾病撲殺</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    <h3>生物安全-清洗消毒</h3>
  </div>
    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 1</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 2</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 3</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 4</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 5</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="row mb-2">
  <div class="col-12">
    <h3>生物安全-病媒防治</h3>
  </div>
    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 1</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 2</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 3</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>


    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 4</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card-group">
        <div class="card text-white color6 text-6">
          <div class="card-body">
            <h5 class="card-title">Barn 5</h5>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title text-6">01</h5>
          </div>
        </div>
      </div>
    </div>

  </div>