input, textarea {
  box-shadow: 0.5px 0.5px 1px;
}
label {
  font-weight: 700;
}
.e-grid .e-active {
  background-color: #fd7e14e8 !important;
}
.bom-detail {
  cursor: pointer;
}
.detail {
  overflow-x: hidden !important;
  height: calc(50vh - 100px) !important;
  overflow-y: auto !important;
}
