<ejs-grid
#piggrid
id="pig-grid"
[dataSource]="pigData"
[enableInfiniteScrolling]="true"
[allowPaging]="false"
[pageSettings]="pageSettings"
[searchSettings]="searchOptions"
[toolbar]="['Search']"
[height]="height + 'px'"
gridLines="Both"
>
<e-columns>
<e-column
  field="name"
  [allowSorting]="false"
  [allowSearching]="false"
  [allowGrouping]="false"
  [allowFiltering]="true"
  [allowEditing]="false"
  textAlign="Left"
          headerTextAlign="Center"
  width="80"
  headerTextAlign="Center"
  headerText="{{ 'PIG' | translate }}"
>
  <ng-template #template let-data>
    <ejs-checkbox #checkbox (change)="onChangeChecked($event, data)" [label]="data.name" [checked]="data.checked"></ejs-checkbox>
  </ng-template>
</e-column>

</e-columns>
</ejs-grid>
