.my-color {
    background-color: #caf982;
  }
  
  .color1 {
      background-color: #fc9aa6;
  }
  .color2 {
      background-color: #caf982;
  }
  .color3 {
      background-color: #facd91;
  }
  .color4 {
      background-color: #d7d7d7;
  }
  .flex-container {
      display: flex;
      div {
          padding-right: 20px;
          align-self: center;
      }
    }
    