<ng-template #statusTemplate let-data>
  <div class="row no-gutters">
   <div class="col-md d-flex align-items-center ml-2" *ngFor="let item of orderStatus">
     <ejs-checkbox [label]="item.name | translate" (change)="onCheckedChangeOrderStatus($event, item)"></ejs-checkbox>

   </div>
  </div>
 </ng-template>
<ng-template #estTemplate let-data>
  <ejs-datepicker
    locale="en-US"
    format="yyyy/MM/dd"

    [value]="estDate"
    (change)="onChangeEst($event)"
    id="estDate-option"
  ></ejs-datepicker>
</ng-template>
<ng-template #odsTemplate let-data>
  <button
    class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib"
    type="button"
    id="grid_odsexport"
    tabindex="-1"
    (click)="odsExport()"
    style="width: auto"
  >
    <span class="e-btn-icon e-pdfexport e-icons e-icon-left"></span
    ><span class="e-tbar-btn-text"
      >{{ "Ods Export" | translate }}
    </span>
  </button>
</ng-template>
<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="true"
  [allowResizing]="true"
  [allowSorting]="true"
  gridLines="Both"
  [query]="query"
  [locale]="locale"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"

  [editSettings]="editSettings"
  [pageSettings]="pageSettings"
  [toolbar]="toolbarOptions"
  [allowExcelExport]="true"
  (rowSelected)="rowSelected($event)"
  (recordClick)="recordClick($event)"
  (recordDoubleClick)="onDoubleClick($event)"
  [selectionSettings]="selectionOptions"
  (toolbarClick)="toolbarClick($event)"
  (rowDataBound)='rowDataBoundApplyOrder($event)'
  (excelExportComplete)="excelExpComplete($event)"
>
  <e-columns>
    <e-column
      field="option"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      textAlign="Left"
      headerTextAlign="Center"
      width="120"
      headerTextAlign="Center"
      headerText="{{ 'OPTION' | translate }}"
    >
      <ng-template #template let-data>
        <span (click)="delete(data.id)" class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
        <span (click)="openModal(optionModal, data)" class="edit-grid">
          <i class="fa fa-edit"></i>
        </span>
      </ng-template>
    </e-column>
        <e-column
      field="estDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'EST_DATETIME' | translate }}"
    >
    </e-column>
<e-column
    field="statusName"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ORDER_STATUS' | translate }}"
  >
  </e-column>
  <e-column
  field="orderNo"
[allowSearching]="false"
textAlign="Left"
  headerTextAlign="Center"
  headerText="{{ 'ORDER_NO' | translate }}"
>
</e-column>
  <e-column
  field="roomName"
[allowSearching]="false"
textAlign="Left"
  headerTextAlign="Center"
  headerText="{{ 'ROOM' | translate }}"
>
</e-column>

  <e-column
  field="applyName"
[allowSearching]="false"
textAlign="Left"
  headerTextAlign="Center"
  headerText="{{ 'Apply_Name' | translate }}"
>
</e-column>

<e-column
field="agreeName"
[allowSearching]="false"
textAlign="Left"
headerTextAlign="Center"
headerText="{{ 'Agree_Name/Reject_Name' | translate }}"
>
<ng-template #template let-data>
  {{ data.status === 5 ? data.rejectName :  data.status === 2 || data.status === 4 ? data.agreeName : "" }}
</ng-template>
</e-column>

<e-column
field="executeName"
[allowSearching]="false"
textAlign="Left"
headerTextAlign="Center"
headerText="{{ 'Execute_Name' | translate }}"
>
</e-column>

    <e-column
      field="typeName"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'General_Type' | translate }}"
    >
    </e-column>

    <e-column
      field="applyDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'APPLY_DATE' | translate }}"
    >
    </e-column>

    <e-column
      field="applyReason"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'APPLY_REASON' | translate }}"
    >
    </e-column>

    <e-column
      field="agreeDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'AGREE_DATE' | translate }}"
    >
    </e-column>

    <e-column
      field="agreeReason"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'AGREE_REASON' | translate }}"
    >
    </e-column>

    <e-column
      field="rejectDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'REJECT_DATE' | translate }}"
    >
    </e-column>

    <e-column
      field="rejectReason"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'REJECT_REASON' | translate }}"
    >
    </e-column>

    <e-column
      field="executeDate"
      format="yyyy/MM/dd"
      type="Date"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'EXECUTE_DATE' | translate }}"
    >
    </e-column>

    <e-column
      field="executeReason"
      textAlign="Left"
      headerTextAlign="Center"
      headerText="{{ 'EXECUTE_REASON' | translate }}"
    >
    </e-column>

    <e-column
      field="id"
      [allowSearching]="false"
      textAlign="Left"
      headerTextAlign="Center"
      [isPrimaryKey]="true"
      [visible]="false"
      headerText="ID"
    >
    </e-column>
  </e-columns>
</ejs-grid>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 [ngbTooltip]="title" class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="type">{{ "General_Type" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-code-type-dropdownlist
            id="record-general-type-remote"
            [codeType]="'Record_General_Type'"
            [(selectedValue)]="model.type"
            [disabled]="model.status === statusConts.Close && disabledInput(model.applyDate) || model.status === statusConts.Reject"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
            <label for="estDate">{{ "EST_DATE" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.estDate"
            [disabled]="model.status === statusConts.Close && disabledInput(model.applyDate) || model.status === statusConts.Reject"
          ></ejs-datepicker>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
                    <label for="makeOrderGuid">{{ "Make_Order" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-makeorder-dropdownlist
            [(selectedValue)]="model.makeOrderGuid"
            (change)='onChangeMakeOrder($event)'
            [disabled]="model.status === statusConts.Close && disabledInput(model.applyDate) || model.status === statusConts.Reject"
          >
          </app-makeorder-dropdownlist>
        </div>
      </div>
    </div>

    <!-- Apply -->
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="applyDate">{{ "APPLY_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.applyDate"
            [disabled]="model.applyGuid"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="applyReason">{{ "APPLY_REASON" | translate }}</label>
          <span ngbTooltip="Text length" class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.applyReason"
            maxlength="100"
            type="text"
            [disabled]="model.status === statusConts.Close && disabledInput(model.applyDate) || model.status === statusConts.Reject"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-4">

       <div class="row no-gutters">
         <div class="col-md-9">
          <div class="form-group">
            <label for="applyGuid">{{ "APPLY_GUID" | translate }}</label>
            <app-account-dropdownlist
              id="applyGuid"
              [(selectedValue)]="model.applyGuid"
              [disabled]="model.applyGuid"
            >
            </app-account-dropdownlist>
          </div>
         </div>
         <div class="col-md-3 d-flex align-items-end">

          <button
          *ngIf="!(model.id > 0) || !model.applyDate"
          [disabled]="!model.type || !model.estDate || !model.makeOrderGuid"
          (click)="save()"
          class="btn btn-primary mb-3 ml-2"
        >
          {{ "Apply" | translate }}
        </button>
         </div>
       </div>
      </div>
    </div>

    <!-- End apply -->

    <!-- Agree -->
    <div
      class="row"
      *ngIf="
        model.id > 0 && model.status !== statusConts.Reject && !model.rejectGuid
      "
    >
      <div class="col-md-4">
        <div class="form-group">
          <label for="agreeDate">{{ "AGREE_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.agreeDate"
            [disabled]="true"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="agreeReason">{{ "AGREE_REASON" | translate }}</label>
          <span ngbTooltip="Text length" class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.agreeReason"
            maxlength="100"
            type="text"
            class="form-control"
            [disabled]="disabledInput(model.agreeDate) && model.status === statusConts.Agree || model.status === statusConts.Close"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="form-group">
              <label for="agreeGuid">{{ "AGREE_GUID" | translate }}</label>
              <app-account-dropdownlist
                id="agreeGuid"
                [(selectedValue)]="model.agreeGuid"
                [disabled]="true"
              >
              </app-account-dropdownlist>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <button
            *ngIf="visibledAgree(model)"
            [disabled]="model.agreeGuid"
            (click)="agree()"
            class="btn btn-success mb-3 ml-2"
          >
            {{ "Agree" | translate }}
          </button>
          </div>
        </div>

      </div>
    </div>

    <!-- End agree -->

    <!-- Reject -->
    <div
      class="row"
      *ngIf="
        model.id > 0 && model.status != statusConts.Agree && !model.agreeGuid
      "
    >
      <div class="col-md-4">
        <div class="form-group">
          <label for="rejectDate">{{ "REJECT_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.rejectDate"
            [disabled]="true"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">

        <div class="form-group">
          <label for="rejectReason">{{ "REJECT_REASON" | translate }}</label>
          <span ngbTooltip="Text length" class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.rejectReason"
            maxlength="100"
            type="text"
            class="form-control"
            [disabled]="disabledInput(model.agreeDate) && model.status === statusConts.Agree || model.status === statusConts.Close"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="form-group">
              <label for="rejectGuid">{{ "REJECT_GUID" | translate }}</label>
              <app-account-dropdownlist
                id="rejectGuid"
                [(selectedValue)]="model.rejectGuid"
                [disabled]="true"
              >
              </app-account-dropdownlist>


            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <button
            *ngIf="visibledReject(model)"
            [disabled]="model.agreeGuid"
            (click)="reject()"
            class="btn btn-danger mb-3 ml-2"
          >
            {{ "Reject" | translate }}
          </button>
          </div>
        </div>

      </div>
    </div>

    <!-- End reject -->

    <!-- Execute -->
    <div
      class="row"
      *ngIf="
        model.id > 0 &&
        ((model.status === statusConts.Execute && model.executeGuid) ||
          (model.status === statusConts.Agree && model.agreeGuid))
      "
    >
      <div class="col-md-4">
        <div class="form-group">
          <label for="executeDate">{{ "EXECUTE_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.executeDate"
            [disabled]="true"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="executeReason">{{ "EXECUTE_REASON" | translate }}</label>
          <span ngbTooltip="Text length" class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.executeReason"
            maxlength="100"
            type="text"
            class="form-control"
            [disabled]="disabledInput(model.createDate)"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="row no-gutters">
          <div class="col-md-9">
            <div class="form-group">
              <label for="executeGuid">{{ "EXECUTE_GUID" | translate }}</label>
              <app-account-dropdownlist
                id="executeGuid"
                [(selectedValue)]="model.executeGuid"
                [disabled]="true"
              >
              </app-account-dropdownlist>


            </div>
          </div>
          <div class="col-md-3 d-flex align-items-end">
            <button
      *ngIf="model.id > 0 && model.status === statusConts.Agree  || (model.id > 0 &&  enabledInput(model.createDate))"
      (click)="execute()"
      class="btn btn-success mb-3 ml-2"
    >
      {{ "Execute" | translate }}
    </button>
          </div>
        </div>

      </div>
    </div>

    <!-- End execute -->
    <div class="row">
      <div class="col-md-4">
        <label for="roomGuid">{{ "ROOM" | translate }}</label><span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
        <app-room-dropdownlist
          id="roomGuid"
          [(selectedValue)]="roomGuid"
          [disabled]="true"
          (change)='onChangeRoom($event)'
        >
        </app-room-dropdownlist>
      </div>
      <div class="col-md-4">
        <label for="penGuid">{{ "Pen" | translate }}</label>
        <app-record2-pen
          id="penGuid"
          [data]="dataPen"
          [query]="queryPen"
          [(roomGuid)]='roomGuid'
          [disabled]="model.status === statusConts.Close && disabledInput(model.applyDate) || model.status === statusConts.Reject"
          [(selectedValue)]="penGuid"
          (change)="onChangePen($event)"
        >
        </app-record2-pen>
      </div>
      <div class="col-md-12 mt-2">
        <ejs-grid
        #piggrid
        [dataSource]="pigData"
        [enableInfiniteScrolling]="true"
        [allowPaging]="false"
        [pageSettings]="pageSettings"
        [searchSettings]="searchOptions"
        [toolbar]="['Search']"
        [height]="300 + 'px'"
        gridLines="Both"

        >
        <e-columns>
        <e-column
          field="guid"
          [allowSorting]="false"
          [allowSearching]="false"
          [allowGrouping]="false"
          [allowFiltering]="false"
          [allowEditing]="false"
          textAlign="Left"
                  headerTextAlign="Center"
          width="80"
          headerTextAlign="Center"
          headerText="{{ 'PIG' | translate }}"
        >
          <ng-template #template let-data>
            <ejs-checkbox [disabled]="model.status === statusConts.Close && disabledInput(model.applyDate) || model.status === statusConts.Reject" #checkbox (change)="onChangeChecked($event, data)" [label]="data.name" [checked]="data.checked"></ejs-checkbox>
          </ng-template>
        </e-column>

        </e-columns>
        </ejs-grid>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label ngbTooltip="RECORD_GENERAL_COMMENT" for="comment">{{
            "RECORD_GENERAL_COMMENT" | translate
          }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">{{ "Create by" | translate }}</span>
          : {{ audit?.createBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Create date time" | translate
          }}</span>
          : {{ audit?.createDate }}</span
        >
      </p>
      <p>
        <span class="mr-2"
          ><span class="my-font-weight-bold">{{
            "Update by" | translate
          }}</span>
          : {{ audit?.updateBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Update date time" | translate
          }}</span>
          : {{ audit?.updateDate }}</span
        >
      </p>
    </div>
    <div class="mr-auto primary-key" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">ID</span> : {{ model?.id }}</span
        >
        <span
          ><span class="my-font-weight-bold">GUID</span> :
          {{ model?.guid }}</span
        >
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ "Note: (*) is a required field" | translate }}
    </span>
    <div *ngFor="let item of configButtonData">
      <button
      type="button"
      class="btn"
      *ngIf="model.guid"
      [class.btn-success]="item.no.includes('Next')"
      [class.btn-danger]="item.no.includes('Exception')"
      (click)="goToLink(item)"
    >
      {{ item.value | translate }}
    </button>
    </div>
    <button
      type="button"
      class="btn btn-light"
      ngbTooltip="CLOSE"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>

  </div>
</ng-template>
