<div class="main-content" id="main-text">
  <div class="sidebar-content">
    <div class="row">
      <div class="col-12 p-0">
        <div class="heading">{{ "Mobile.VectorControl" | translate }}</div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-12 d-flex justify-content-start align-items-center">
        <div class="mr-2" style="width: 35px">
          {{ "Mobile_YearMonth" | translate }}
        </div>
        <div style="width: 140px">
          <ejs-datepicker
            format="yyyy/MM"
            depth="Year"
            start="Year"
            [enableMask]="true"
            [(value)]="recordDate"
            locale="en-US"
          ></ejs-datepicker>
        </div>

        <div class="mx-2" style="width: 35px">
          {{ "Mobile_Pen" | translate }}
        </div>
        <div style="width: 140px">
          <app-pen-dropdownlist
            [id]="'pen-dropdownlist1'"
            [(selectedValue)]="penGuid"
            [placeholder]="'Choose a pen' | translate"
          ></app-pen-dropdownlist>
        </div>
        <button class="btn btn-sm btn-primary mx-2" (click)="loadData()">
          {{ "Mobile_Search" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<ejs-grid
  [dataSource]="data"
  [enableInfiniteScrolling]="true"
  [allowPaging]="false"
  [pageSettings]="pageSettings"
  [height]="700 + 'px'"
>
  <e-columns>
    <e-column field="id" [allowFiltering]="false" headerText="">
      <ng-template #template let-data>
        <div class="card m-0 p-0 mb-3 shadow-sm">
          <div
            class="card-body py-0 px-1"
            [style.background-color]="
              data.recordDate === null ? '#f5dada' : '#1576b61f'
            "
          >
            <div class="row no-gutters my-1">

              <div class="col-12">

                <div class="row no-gutters">
                  <div class="col-3 col-sm-4 text-wrap">
                    {{ "ROOM" | translate }}:
                  </div>
                  <div class="col-9 col-sm-8">
                    <app-room-dropdownlist
                      id="room-remote"
                      [(selectedValue)]="model.roomGuid"
                      (change)="onChange($event, data)"
                    >
                    </app-room-dropdownlist>
                  </div>
                </div>

                <div class="row no-gutters">
                  <div class="col-3 col-sm-4 text-wrap">
                    {{ "PEN" | translate }}:
                  </div>
                  <div class="col-9 col-sm-8">
                    <app-pen-dropdownlist
                      id="pen-remote"
                      [(selectedValue)]="model.penGuid"
                      (change)="onChange($event, data)"
                    >
                    </app-pen-dropdownlist>
                  </div>
                </div>

                <div class="row no-gutters">
                  <div class="col-3 col-sm-4 text-wrap">
                    {{ "VECTOR_CONTROL" | translate }}:
                  </div>
                  <div class="col-9 col-sm-8">
                    <app-vector-control-dropdownlist
                      [(selectedValue)]="model.vectorControlGuid"
                      (change)="onChange($event, data)"
                    >
                    </app-vector-control-dropdownlist>
                  </div>
                </div>

                <div class="row no-gutters">
                  <div class="col-3 col-sm-4 text-wrap">
                    {{ "VECTORCONTROL_USE_TYPE" | translate }}:
                  </div>
                  <div class="col-9 col-sm-8">
                    <app-code-type-dropdownlist
                      id="useType-remote"
                      [codeType]="'VectorControl_UseType'"
                      [(selectedValue)]="model.useType"
                      (change)="onChange($event, data)"
                    >
                    </app-code-type-dropdownlist>
                  </div>
                </div>

                <div class="row no-gutters">
                  <div class="col-3 col-sm-4 text-wrap">
                    {{ "VECTORCONTROL_USE_UNIT" | translate }}:
                  </div>
                  <div class="col-9 col-sm-8">
                    <app-code-type-dropdownlist
                      id="vectorcontrol-unit"
                      [codeType]="'VectorControl_UseUnit'"
                      [(selectedValue)]="model.useUnit"
                      (change)="onChange($event, data)"
                    >
                    </app-code-type-dropdownlist>
                  </div>
                </div>

                <div class="row no-gutters">
                  <div class="col-3 col-sm-4 text-wrap">
                    {{ "VECTORCONTROL_CAPACITY" | translate }}:
                  </div>
                  <div class="col-9 col-sm-8">
                    <app-code-type-dropdownlist
                      id="vectorcontrol-cap"
                      [codeType]="'VectorControl_Capacity'"
                      [(selectedValue)]="model.capacity"
                      (change)="onChange($event, data)"
                    >
                    </app-code-type-dropdownlist>
                  </div>
                </div>

              </div>

              <div class="col-9 text-wrap">
                <div class="row no-gutters">
                  <div class="col-12">
                    {{ "VECTORCONTROL_TYPE" | translate }}: &nbsp;&nbsp;{{
                      data.typeName
                    }}
                  </div>

                  <div class="col-12">
                    {{ "VECTORCONTROL_FREQUENCY" | translate }}: &nbsp;&nbsp;{{
                      data.frequencyName
                    }}
                  </div>

                  <div class="col-12">
                    {{ "VECTORCONTROL_APPLY_DAYS" | translate }}: &nbsp;&nbsp;{{
                      data.applyDaysName
                    }}
                  </div>

                  <div class="col-12">
                    {{ "RECORD_DATETIME" | translate }}: &nbsp;&nbsp; {{data.recordDate | date: 'yyyy/MM/dd'}}&nbsp;{{data.recordTime}}
                  </div>

                  <div class="col-12">
                    {{ "EST_DATETIME" | translate }}: &nbsp;&nbsp; {{data.estDate | date: 'yyyy/MM/dd'}}&nbsp;{{data.estTime}}
                  </div>

                </div>
              </div>
              <div class="col-3 d-flex align-self-center justify-content-center">
                <button
                class="btn btn-sm btn-success ml-1 mb-btn"
                *ngIf="data.recordDate === null"
                (click)="toggleRecordDate(data.id)"
              >
                {{ "Execute" | translate }}
              </button>
              <button
                class="btn btn-sm btn-secondary ml-1 mb-btn"
                *ngIf="data.recordDate !== null"
                (click)="toggleRecordDate(data.id)"
              >
                {{ "Cancel" | translate }}
              </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
