<ejs-grid
#grid
id="grid"
[dataSource]="data"
[allowPaging]="true"
[allowResizing]="true"
[allowSorting]="true"
gridLines="Both"
[locale]="locale"
(actionBegin)="actionBegin($event)"
(actionComplete)="actionComplete($event)"
[editSettings]="editSettings"
[toolbar]="toolbarOptions"
[allowExcelExport]="true"
[pageSettings]="pageSettings"
(recordDoubleClick)="onDoubleClick($event)"
(rowSelected)="rowSelected($event)"
(toolbarClick)="toolbarClick($event)"
(dataBound)="dataBound()"
(headerCellInfo)="headerCellInfo($event)"

>
<e-columns>
  <e-column
    field="option"
    textAlign="Left"
    headerTextAlign="Center"
    width="80"
    headerTextAlign="Center"
    [allowSorting]="false"
    [allowSearching]="false"
    [allowGrouping]="false"
    [allowFiltering]="false"
    [allowEditing]="false"
    headerText="{{ 'OPTION' | translate }}"
  >
    <ng-template #template let-data>
      <span (click)="delete(data.id)" class="delete-grid">
        <i class="fa fa-trash"></i>
      </span>
    </ng-template>
  </e-column>
  <e-column
    field="sortId"
    width="80"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Sort' | translate }}"
  >
  </e-column>
  <e-column
  field="langID"
  textAlign="Left"
  headerTextAlign="Center"
  headerText="{{ 'LANGUAGE' | translate }}"
>
<ng-template #template let-data>
  {{data.langID}}
</ng-template>
<ng-template #editTemplate let-data>
  <ejs-dropdownlist
        [(ngModel)]="lang"
        [dataSource]="[ '','Tw', 'Cn', 'En','Vn']"
      ></ejs-dropdownlist>
</ng-template>
</e-column>
  <e-column
    field="text01"
    textAlign="Left"
    headerTextAlign="Center"
    [validationRules]="commonRules"
    headerText="{{ 'Text01' | translate }}"
  >
  </e-column>

  <e-column
  width="125"
    field="textColor01"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'TextColor01' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.textColor01' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="textColor01" [(ngModel)]='data.textColor01' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
    field="value01"
    textAlign="Left"
    headerTextAlign="Center"
    [validationRules]="commonRules"
    headerText="{{ 'Value01' | translate }}"
  >
  </e-column>

  <e-column
    field="value02"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Value02' | translate }}"
  >
  </e-column>

  <e-column
    field="value03"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Value03' | translate }}"
  >
  </e-column>

  <e-column
    field="value04"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Value04' | translate }}"
  >
  </e-column>

  <e-column
    field="value05"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Value05' | translate }}"
  >
  </e-column>

  <e-column
    field="value06"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Value06' | translate }}"
  >
  </e-column>

  <e-column
    field="value07"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Value07' | translate }}"
  >
  </e-column>

  <e-column
    field="value08"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Value08' | translate }}"
  >
  </e-column>

  <e-column
    field="value09"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'Value09' | translate }}"
  >
  </e-column>


  <e-column
  width="125"
    field="valueColor01"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor01' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor01' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor01" [(ngModel)]='valueColor01' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
  width="125"
    field="valueColor02"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor02' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor02' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor02" [(ngModel)]='valueColor02' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
  width="125"
    field="valueColor03"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor03' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor03' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor03" [(ngModel)]='valueColor03' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
  width="125"
    field="valueColor04"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor04' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor04' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor04" [(ngModel)]='valueColor04' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
  width="125"
    field="valueColor05"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor05' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor05' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor05" [(ngModel)]='valueColor05' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
  width="125"
    field="valueColor06"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor06' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor06' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor06" [(ngModel)]='valueColor06' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
  width="125"
    field="valueColor07"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor07' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor07' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor07" [(ngModel)]='valueColor07' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
    width="125"
    field="valueColor08"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor08' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor08' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor08" [(ngModel)]='valueColor08' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

  <e-column
    width="125"
    field="valueColor09"
    textAlign="Left"
    headerTextAlign="Center"
    headerText="{{ 'ValueColor09' | translate }}"
  >
  <ng-template #template let-data>
    <input ejs-colorpicker [disabled]="true" [value]='data.valueColor09' type="color" />
  </ng-template>
  <ng-template #editTemplate let-data>
    <input ejs-colorpicker id="valueColor09" [(ngModel)]='valueColor09' (ngModelChange)="onChangeColor(data,$event)" type="color" />
  </ng-template>
  </e-column>

</e-columns>
</ejs-grid>
