<ngx-spinner [fullScreen]="false" type="square-jelly-box" size="medium">
  <p class="loading">Loading data...</p>
</ngx-spinner>

<div class="col-md-12" style="box-shadow: 1px 1px 20px; padding: 0">
  <div class="card main-card">
    <div class="card-body table-responsive p-0">
      <ejs-grid
        #grid
        id="grid"
        [dataSource]="data"
        [allowPaging]="true"
        [allowResizing]="true"
        [showColumnMenu]="false"
        [allowSorting]="true"
        [allowExcelExport]="true"
        [toolbar]="toolbarOptions"
        [pageSettings]="pageSettings"
        gridLines="Both"
        [editSettings]="editSettings"
        (toolbarClick)="toolbarClick($event)"
        (excelExportComplete)='excelExpComplete($event)'

      >
        <e-columns>
          <ng-template #odsTemplate let-data>
            <button
              class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib"
              type="button"
              id="grid_odsexport"
              tabindex="-1"
              (click)="odsExport()"
              style="width: auto"
            >
              <span class="e-btn-icon e-pdfexport e-icons e-icon-left"></span
              ><span class="e-tbar-btn-text">{{ 'Ods Export' | translate}} </span>
            </button>
          </ng-template>
          <e-column
            field="option"
            textAlign="Left"
          headerTextAlign="Center"
            width="80"
            headerTextAlign="Center"
            [allowSorting]="false"
            [allowSearching]="false"
            [allowGrouping]="false"
            [allowFiltering]="false"
            [allowEditing]="false"
            headerText="{{ 'OPTION' | translate }}"
          >
            <ng-template #template let-data>
              <span (click)="delete(data.id)" class="delete-grid">
                <i class="fa fa-trash"></i>
              </span>
              <span (click)="openModal(optionModal, data)" class="edit-grid">
                <i class="fa fa-edit"></i>
              </span>
            </ng-template>
          </e-column>

          <e-column
            field="id"
[allowSearching]="false"
            textAlign="Left"
          headerTextAlign="Center"
            [visible]="false"
            isPrimaryKey="true"
            headerText="{{ 'ID' }}"
          >
          </e-column>
          <e-column
            field="purchaseDate"
            type='Date'
            format='yyyy/MM/dd'
            textAlign="Left"
          headerTextAlign="Center"
            headerText="{{ 'PURCHASE_DATE' | translate }}"
          >
          </e-column>
          <e-column
            field="purchaseTime"
            textAlign="Left"
          headerTextAlign="Center"
            headerText="{{ 'PURCHASE_TIME'| translate }}"
          >
          </e-column>
          <e-column
            field="purchaseDeptName"
            textAlign="Left"
          headerTextAlign="Center"
            headerTextAlign="Center"
            headerText="{{ 'PURCHASE_DEPT' | translate }}"
          >
          </e-column>

          <e-column
          field="rejectDate"
          type='Date'
          format='yyyy/MM/dd'
          textAlign="Left"
          headerTextAlign="Center"
          headerTextAlign="Center"
          headerText="{{ 'PURCHASE_DATE' | translate }}"
        >
        </e-column>

        <e-column
        field="rejectReason"
        textAlign="Left"
          headerTextAlign="Center"
        headerTextAlign="Center"
        headerText="{{ 'REJECT_REASON' | translate }}"
      >
      </e-column>

          <e-column
            field="comment"
            [allowSearching]="false"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'PURCHASE_COMMENT' | translate }}"
          >
          </e-column>

        </e-columns>
      </ejs-grid>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 [ngbTooltip]="title" class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="option">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="requisitionGuid">{{ "REQUISITION" | translate }}</label>
          <ejs-dropdownlist
            [(ngModel)]="model.requisitionGuid"
            [fields]="fields"
            [dataSource]="requisitionData"
          ></ejs-dropdownlist>
        </div>
      </div>

       <div class="col-6">
        <div class="form-group">
          <label for="vaccine">{{
            "PURCHASE_DEPT" | translate
          }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-code-type-dropdownlist
          id="account-dept-remote"
          [codeType]="'Account_Dept'"
          [(selectedValue)]="model.purchaseDept"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="purchaseDate">{{ "PURCHASE_DATE" | translate }}</label>
          <ejs-datepicker locale='en-US' format='yyyy/MM/dd' [(ngModel)]="model.purchaseDate"></ejs-datepicker>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="purchaseTime">{{ "PURCHASE_TIME" | translate }}</label>
          <app-maskedtimetextbox [(selectedValue)]="model.purchaseTime"></app-maskedtimetextbox>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="salesOrderDate">{{ "REJECT_DATE" | translate }}</label>
          <ejs-datepicker
            locale="en-US"
            format="yyyy/MM/dd"
            [(ngModel)]="model.rejectDate"
          ></ejs-datepicker>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="rejectReason">{{ "REJECT_REASON" | translate }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.rejectReason"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="rejectGuid">{{ "REJECT_GUID" | translate }}</label>
          <ejs-dropdownlist
            [(ngModel)]="model.rejectGuid"
            [fields]="fields"
            [dataSource]="rejectData"
          ></ejs-dropdownlist>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="accountGuid">{{ "ACCOUNT_GUID" | translate }}</label>
          <ejs-dropdownlist
            [(ngModel)]="model.accountGuid"
            [fields]="fields"
            [dataSource]="rejectData"
          ></ejs-dropdownlist>
        </div>
      </div>

      <div class="col-md-12">

        <div class="form-group">
          <label>{{
            "PURCHASE_COMMENT" | translate
          }}</label>
          <textarea
            class="form-control"
            [(ngModel)]="model.comment"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
      </p>
      <p>
        <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ 'Note: (*) is a required field' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      ngbTooltip="CLOSE"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      type="submit"
      [disabled]="!model.purchaseDept"
      (click)="save()"
      ngbTooltip="SAVE"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
