<div class="row my-row">
  <div class="col-md-12 ">
    <div class="card">
      <div class="card-body p-0">
        <div style="height: 43px; line-height: 43px; font-weight: 500">
          <span style="padding-left: 0.5rem">
            {{ "PIG_DISEASE" | translate }}
          </span>
        </div>
        <ejs-grid
          #grid
          id="grid"
          [selectedRowIndex]="0"
          [dataSource]="data"
          [allowPaging]="false"
          [allowResizing]="true"
          [allowSorting]="true"
          gridLines="Both"
          [locale]="locale"
          (actionBegin)="actionBegin($event)"
          (actionComplete)="actionComplete($event)"
          [editSettings]="editSettings"
          [pageSettings]="pageSettings"
          [toolbar]="toolbarOptions"
          [allowExcelExport]="true"
          enableInfiniteScrolling='true'
          (rowSelected)="rowSelected($event)"
          (recordClick)="recordClick($event)"
          [selectionSettings]="selectionOptions"
          (toolbarClick)="toolbarClick($event)"
          [height]="topHeight"
        >
          <e-columns>
            <e-column
              field="option"
              [allowSorting]="false"
              [allowSearching]="false"
              [allowGrouping]="false"
              [allowFiltering]="false"
              [allowEditing]="false"
              textAlign="Left"
          headerTextAlign="Center"
              width="120"
              headerTextAlign="Center"
              headerText="{{ 'OPTION' | translate }}"
            >
              <ng-template #template let-data>
                <span (click)="delete(data.id)" class="delete-grid">
                  <i class="fa fa-trash"></i>
                </span>
                <span (click)="openModal(optionModal, data)" class="edit-grid">
                  <i class="fa fa-edit"></i>
                </span>
              </ng-template>
            </e-column>
            <e-column
              field="typeName"
              textAlign="Left"
          headerTextAlign="Center"
              headerText="{{ 'PIG_DISEASE_TYPE' | translate }}"
            >
            </e-column>

              <e-column
              field="pigTypeName"
              textAlign="Left"
          headerTextAlign="Center"
              headerText="{{ 'PIG_TYPE' | translate }}"
            >
            </e-column>

            <e-column
            field="recordDate"
            type='Date'
            format='yyyy/MM/dd'
            textAlign="Left"
          headerTextAlign="Center"
            headerText="{{ 'RECORD_DATE' | translate }}"
          >
          </e-column>

            <e-column
            field="recordReason"
            textAlign="Left"
          headerTextAlign="Center"
            headerText="{{ 'RECORD_REASON' | translate }}"
          >
          </e-column>

          <e-column
          field="approveDate"
          type='Date'
          format='yyyy/MM/dd'
          textAlign="Left"
          headerTextAlign="Center"
          headerText="{{ 'APPROVE_DATE' | translate }}"
        >
        </e-column>

          <e-column
          field="approveReason"
          textAlign="Left"
          headerTextAlign="Center"
          headerText="{{ 'APPROVE_REASON' | translate }}"
        >
        </e-column>


          <e-column
          field="rejectDate"
          type='Date'
          format='yyyy/MM/dd'
          textAlign="Left"
          headerTextAlign="Center"
          headerText="{{ 'REJECT_DATE' | translate }}"
        >
        </e-column>

        <e-column
        field="rejectReason"
        textAlign="Left"
          headerTextAlign="Center"
        headerText="{{ 'REJECT_REASON' | translate }}"
      >
      </e-column>

      <e-column
      field="comment"
      [allowSearching]="false"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'PIG_DISEASE_COMMENT' | translate }}"
    >
    </e-column>

            <e-column
              field="id"
[allowSearching]="false"
              textAlign="Left"
          headerTextAlign="Center"
              [isPrimaryKey]="true"
              [visible]="false"
              headerText="ID"
            >
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-2" [style.height]='rightHeight'>
    <div class="card">
      <div class="card-body p-0">
        <nav class="nav nav-pills nav-justified p-2">
          <a
            class="nav-link my-nav"
            (click)="active = 'Detail'"
            [ngClass]="{ active: active == 'Detail' }"
            >{{ "PIG_DISEASE_DETAIL" | translate }}</a
          >
          <a
            class="nav-link my-nav"
            (click)="active = 'Culling'"
            [ngClass]="{ active: active == 'Culling' }"
            >{{ "PIG_CULLING" | translate }}</a
          >
          <a
            class="nav-link my-nav"
            (click)="active = 'Diagnosis'"
            [ngClass]="{ active: active == 'Diagnosis' }"
            >{{ "PIG_DIAGNOSIS" | translate }}</a
          >
          <a
            class="nav-link my-nav"
            (click)="active = 'Isolation'"
            [ngClass]="{ active: active == 'Isolation' }"
            >{{ "PIG_ISOLATION" | translate }}</a
          >

          <a
          class="nav-link my-nav"
          (click)="active = 'Prescription'"
          [ngClass]="{ active: active == 'Prescription' }"
          >{{ "PIG_PRESCRIPTION" | translate }}</a
        >

        <a
        class="nav-link my-nav"
        (click)="active = 'Treatment'"
        [ngClass]="{ active: active == 'Treatment' }"
        >{{ "PIG_TREATMENT" | translate }}</a
      >

        </nav>
        <ng-container *ngIf="active == 'Detail'">
          <app-pig-disease-detail></app-pig-disease-detail>
         </ng-container>

         <ng-container *ngIf="active == 'Culling'">
          <app-pig-culling [bottomHeight]='bottomHeight'></app-pig-culling>
         </ng-container>

         <ng-container *ngIf="active == 'Diagnosis'">
          <app-pig-diagnosis [bottomHeight]='bottomHeight'></app-pig-diagnosis>
         </ng-container>

         <ng-container *ngIf="active == 'Isolation'">
          <app-pig-isolation [bottomHeight]='bottomHeight'></app-pig-isolation>
         </ng-container>

         <ng-container *ngIf="active == 'Prescription'">
          <app-pig-prescription [bottomHeight]='bottomHeight'></app-pig-prescription>
         </ng-container>

         <ng-container *ngIf="active == 'Treatment'">
          <app-pig-treatment [bottomHeight]='bottomHeight'></app-pig-treatment>
         </ng-container>

      </div>
    </div>
  </div>
</div>


<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="type">{{ "PIG_DISEASE_TYPE" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-code-type-dropdownlist
      id="type-remote"
      [codeType]="'Pig_Disease_Type'"
      (ngModelChange)="typeChange($event)"
      [selectedValue]="model.type"
      >
      </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="pigType">{{ "PIG_TYPE" | translate }}</label>
          <app-code-type-dropdownlist
      id="pig-type-remote"
      [codeType]="'Pig_Type'"
      [(selectedValue)]="model.pigType"
      >
      </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="recordDate">{{ "RECORD_DATE" | translate }}</label>
          <ejs-datepicker locale='en-US' format='yyyy/MM/dd' [(ngModel)]="model.recordDate"></ejs-datepicker>
        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group">
          <label for="recordGuid">{{ "RECORD_GUID" | translate }}</label>
          <ejs-dropdownlist
            [(ngModel)]="model.recordGuid"
            [fields]="fields"
            [dataSource]="accountData"
          ></ejs-dropdownlist>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="recordReason">{{
            "RECORD_REASON" | translate
          }}</label>
          <span class="max-length"> ( {{"Text length"| translate }} <= 100 )</span>
          <input
            [(ngModel)]="model.recordReason"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="approveDate">{{ "APPROVE_DATE" | translate }}</label>
          <ejs-datepicker locale='en-US' format='yyyy/MM/dd' [(ngModel)]="model.approveDate"></ejs-datepicker>
        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group">
          <label for="approveGuid">{{ "APPROVE_GUID" | translate }}</label>
          <ejs-dropdownlist
            [(ngModel)]="model.approveGuid"
            [fields]="fields"
            [dataSource]="accountData"
          ></ejs-dropdownlist>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="approveReason">{{
            "APPROVE_REASON" | translate
          }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span class="max-length"> ( {{"Text length"| translate }} <= 100 )</span>
          <input
            [(ngModel)]="model.approveReason"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="pigDiseaseDate">{{ "REJECT_DATE" | translate }}</label>
          <ejs-datepicker locale='en-US' format='yyyy/MM/dd' [(ngModel)]="model.rejectDate"></ejs-datepicker>
        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group">
          <label for="rejectGuid">{{ "REJECT_GUID" | translate }}</label>
          <ejs-dropdownlist
            [(ngModel)]="model.rejectGuid"
            [fields]="fields"
            [dataSource]="accountData"
          ></ejs-dropdownlist>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="rejectReason">{{
            "REJECT_REASON" | translate
          }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span class="max-length"> ( {{"Text length"| translate }} <= 100 )</span>
          <input
            [(ngModel)]="model.rejectReason"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="comment">{{
            "PIG_DISEASE_COMMENT" | translate
          }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
      </p>
      <p>
        <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ 'Note: (*) is a required field' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      [disabled]="!model.type"
      (click)="save()"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>

