<div class="main-content" id="main-text">
  <div class="sidebar-content">
    <div class="row mr-mobile">
      <div class="col-12 p-0">
        <div class="heading">{{'Mobile_Culling' | translate}}</div>
      </div>
    </div>

<div class="form-group row mt-3 mr-mobile">
  <label for="recordDate" class="col-3 col-sm-2 col-form-label text-truncate">{{ "RECORD_DATETIME" | translate }}</label>
  <div class="col-9 col-sm-10 d-flex justify-content-start">
    <ejs-datepicker
    id="recordDate"
    [(ngModel)]="model.recordDate"
    locale="en-US"
    format="yyyy/MM/dd"
    style="margin-right: 0.5rem;"
    ></ejs-datepicker>
    <app-maskedtimetextbox
    [(selectedValue)]="model.recordTime"
          ></app-maskedtimetextbox>
  </div>
</div>

<div class="form-group row mr-mobile">
  <label for="cullingMethod-remote" class="col-3 col-sm-2 col-form-label text-truncate">{{ "RECORD_CULLING_METHOD" | translate }}</label>
  <div class="col-9 col-sm-10">
    <app-code-type-dropdownlist
            id="cullingMethod-remote"
            [codeType]="'Culling_Method'"
            [(selectedValue)]="model.cullingMethod"
          >
          </app-code-type-dropdownlist>
  </div>
</div>

<div class="form-group row mr-mobile">
  <label for="culling-reason-remote" class="col-3 col-sm-2 col-form-label text-truncate">{{ "RECORD_CULLING_REASON" | translate }}</label>
  <div class="col-9 col-sm-10">
    <app-code-type-dropdownlist
            id="culling-reason-remote"
            [codeType]="'Culling_Reason'"
            [(selectedValue)]="model.cullingReason"
          >
          </app-code-type-dropdownlist>
  </div>
</div>

<div class="form-group row mr-mobile">
  <label for="cullingWeight" class="col-3 col-sm-2 col-form-label text-truncate">{{ "RECORD_CULLING_WEIGHT" | translate }}</label>
  <div class="col-9 col-sm-10">
    <input
    id="cullingWeight"
    [(ngModel)]="model.cullingWeight"
    min="0"
    type="number"
    class="form-control form-control-sm"
  />
  </div>
</div>

<div class="form-group row mr-mobile">
  <label for="pigid" class="col-3 col-sm-3 col-md-2 col-form-label text-truncate">{{ "PIG_NO" | translate }}</label>

  <div class="col-9 col-sm-9 col-md-10 d-flex justify-content-start">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text" ><i class="fa fa-qrcode" aria-hidden="true"></i></span>
      </div>
      <input type="text" id="pigid" class="form-control" [(ngModel)]="pigNo" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>
    <button class="btn btn-sm btn-success ml-1" style="width:90px" (click)="scan()" > {{'Scan' | translate}}</button>
  </div>

</div>


<div class="row mr-mobile mb-5">
  <div class="col-12 col-md-10 d-flex  offset-md-2">
    <div class="pig-info">
      <span> {{pig?.dayAge || ""}} {{'Day Age' | translate}}</span>
      <span> {{'Pig_No' | translate}} : {{pig?.idno || ""}}</span>

    </div>
    <button class="btn btn-sm btn-success ml-1" style="width:80px" (click)="execute()"> {{'Execute' | translate}}</button>
  </div>

</div>


<div class="row my-2">
  <div class="col-12 d-flex justify-content-start align-items-center">
    <div class="mr-2" style="width: 35px">{{'Mobile_YearMonth' | translate}}</div>
    <div style="width: 140px">
      <ejs-datepicker
        format="yyyy/MM/dd"
        [enableMask]="true"
        [(value)]="recordDate"
        locale="en-US"
      ></ejs-datepicker>
    </div>

    <div class="mx-2" style="width: 35px">{{'Mobile_Pen' | translate}}</div>
    <div style="width: 140px">
      <app-pen-dropdownlist
        [id]="'pen-dropdownlist1'"

        [(selectedValue)]="penGuid"
        [placeholder]="'Choose a pen' | translate"
      ></app-pen-dropdownlist>
    </div>
    <button class="btn btn-sm btn-primary mx-2" (click)="loadData()">{{'Mobile_Search' | translate}}</button>
  </div>
</div>

</div>
</div>


<ejs-grid [dataSource]='data'
  [enableInfiniteScrolling]="true"
  [allowPaging]="false"
  [pageSettings]="pageSettings"
  [height]="700 + 'px'"
  >
  <e-columns>
      <e-column field='ContactName' headerText='' >
        <ng-template #template let-data>
            <div class="card m-0 p-0">
              <div class="card-header bg-primary text-white">
                {{ "PEN" | translate }}: {{data.penName}}
              </div>
              <div
                class="card-body p-0"
                [style.background-color]="data.recordDate === null ? '#f5dada' : '#1576b61f' "
              >

               <div class="d-flex justify-content-start mt-2">

                  <div style="width: 50%">
                    <div class="d-flex justify-content-start">

                    <div style="width: 50%">
                      <div class="text-truncate" style=" word-wrap: break-word;">&nbsp;&nbsp;{{ "CULLING_TYPE" | translate }}:</div>
                      <!-- <div class="text-truncate" style=" word-wrap: break-word;">&nbsp;&nbsp;{{ "PIG_TYPE" | translate }}:</div> -->
                      <!-- <div class="text-truncate" style=" word-wrap: break-word;">&nbsp;&nbsp;{{ "DAY_AGE" | translate }}:</div> -->
                    </div>
                    <div class="text-truncate" style="width: 50%">
                      <div>&nbsp;&nbsp;{{data.typeName}}</div>
                      <!-- <div>&nbsp;&nbsp;{{data.pigType}}</div> -->
                      <!-- <div>&nbsp;&nbsp;{{data.dayAge}}</div> -->

                    </div>
                  </div>
                  </div>
                  <div style="width: 50%">
                    <div class="d-flex justify-content-start">
                      <div style="width: 50%">
                        <div class="text-truncate" style=" word-wrap: break-word;">{{ "RECORD_DATETIME" | translate }}:</div>
                        <div class="text-truncate" style=" word-wrap: break-word;">{{ "EST_DATETIME" | translate }}:</div>
                        <div class="text-truncate" style=" word-wrap: break-word;">{{ "RECORD_CULLING_METHOD" | translate }}:</div>
                        <div class="text-truncate" style=" word-wrap: break-word;">{{ "RECORD_CULLING_REASON" | translate }}:</div>
                        <!-- <div class="text-truncate" style=" word-wrap: break-word;">{{ "RECORD_CULLING_WEIGHT" | translate }}:</div> -->
                      </div>
                      <div style="width: 50%">
                        <div class="text-truncate">{{data.recordDate | date: 'yyyy/MM/dd'}}&nbsp;{{data.recordTime}}</div>
                        <div class="text-truncate">{{data.estDate | date: 'yyyy/MM/dd'}}&nbsp;{{data.estTime}}</div>
                        <div class="text-truncate">{{data.cullingMethodName}}&nbsp;</div>
                        <div class="text-truncate">{{data.cullingReasonName}}&nbsp;</div>
                        <!-- <div class="text-truncate">{{data.weight}}&nbsp;</div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-start mb-2">
                  <div style="width: 50%">
                    <button class="btn btn-sm btn-success ml-2" *ngIf="data.recordDate === null" (click)="toggleRecordDate(data.id)"> {{'Execute' | translate}}</button>
                    <button class="btn btn-sm btn-secondary ml-2" *ngIf="data.recordDate !== null"  (click)="toggleRecordDate(data.id)"> {{'Cancel' | translate}}</button>
                  </div>
                  <div style="width: 50%"></div>
                </div>
              </div>
            </div>
        </ng-template>
      </e-column>

  </e-columns>
</ejs-grid>
