
<div class="forgot-backgroud">
  <div class="container padding-bottom-3x mb-2 mt-5 ">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="forgot my-backgroup">
          <h2 ngbTooltip="Reset your password">{{'Reset your password' | translate}}?</h2>

        <div class="card mt-4 my-backgroup">
          <div class="card-body">
            <div class="form-group">
              <label ngbTooltip="New password" for="password">{{'New password' | translate}}</label>
              <div class="input-group">
                <input maxlength="50" [attr.type]="status2 ? 'text' : 'password' " id="password" [(ngModel)]="newPassword" class="form-control" >
                <div class="input-group-append" (click)='status2 = !status2'>
                  <span class="input-group-text" style=" box-shadow: 0.5px 0.5px 1px; cursor: pointer;">
                    <i [ngClass]="status2 ? 'fa fa-eye' : 'fa fa-eye-slash' "></i>
                  </span>
                </div>
              </div>

            </div>
            <div class="form-group">
              <label ngbTooltip="Confirm password" for="confirm">{{'Confirm password' | translate}}</label>
              <div class="input-group">
                <input maxlength="50" [attr.type]="status2 ? 'text' : 'password' " id="confirm" [(ngModel)]="confirmPassword" class="form-control" >
                <div class="input-group-append" (click)='status2 = !status2'>
                  <span class="input-group-text" style=" box-shadow: 0.5px 0.5px 1px; cursor: pointer;">
                    <i [ngClass]="status2 ? 'fa fa-eye' : 'fa fa-eye-slash' "></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer my-backgroup">
            <a ngbTooltip="Submit" class="btn-forget" (click)='submit()'>
            <span *ngIf="loading == 1" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              {{ 'Submit' | translate }}
            </a>
            <a ngbTooltip="Back to Login" class="btn-forget ml-2" href="/login">{{'Back to Login' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
