<div class="flex">
  <div class="item">

      <form class="login_box"  (ngSubmit)="login()" #form="ngForm">
          <img src="../../../assets/images/logo-pigepm.png" alt="logo" style="padding-bottom: 10px;" />
          <h3 style="color:#5D3422">{{'New Generation Ranch System' | translate}}</h3>
          <div class="account">
            <label> {{'Username' | translate}} </label>
            <input type="text"  [(ngModel)]="username"
            name="username"  /><span></span>
          </div>
          <div class="account">
            <label> {{'Password' | translate}} </label>
            <input type="password" name='password' [(ngModel)]="password" />
          </div>

          <input type="checkbox" id="remember" name="remember" (change)="onChangeRemember($event)" [(ngModel)]="remember" />
          
          <label> {{'Remember account' | translate}} </label>
          <input type="hidden" value="xxx" />
          <button class="btn-login" id='submit' [disabled]="!username || !password" [class.disabled]="!username || !password">

            <span *ngIf="loading == 1" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{'Login' | translate}}
          </button>
          <div class="link_box">
              <div class="l-item"><a href="/forgot-password">{{'Forgot password?' | translate}}</a></div>
              <div class="l-item txt-r"><a href="/forgot-username">{{'Forgot username?' | translate}}</a></div>
          </div>
          <a class="icn_home" [routerLink]="'/home'"><i class="fas fa-2x fa-home"></i></a>
      </form>
  </div>
</div>
