

<div class="main-content" id="main-text">
  <div class="sidebar-content">
    <div class="row">
      <div class="col-12 p-0">
        <div class="heading">豬隻基本資料 Pig Data</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2">
        <form id="formId">
          <div class="form-group row ">
            <label for="input" class="col-4 col-sm-2 col-form-label">父親</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input" placeholder="can keyword search">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input2" class="col-4 col-sm-2 col-form-label">母親</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input2" placeholder="can keyword search">
            </div>
          </div>


          <div class="form-group row ">
            <label for="input3" class="col-4 col-sm-2 col-form-label">名稱</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input3" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input4" class="col-4 col-sm-2 col-form-label">出生日期</label>
            <div class="col-8 col-sm-10">
              <ejs-datepicker locale='en-US' format='yyyy/MM/dd' id="input4" placeholder="請選擇"></ejs-datepicker>
            </div>
          </div>

          <div class="form-group row ">
            <label for="input5" class="col-4 col-sm-2 col-form-label">第幾代</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input5" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input6" class="col-4 col-sm-2 col-form-label">性別</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input4" placeholder="can keyword search">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input7" class="col-4 col-sm-2 col-form-label">品種</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input7" placeholder="can keyword search">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input8" class="col-4 col-sm-2 col-form-label">左乳頭數</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input8" placeholder="num">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input9" class="col-4 col-sm-2 col-form-label">右乳頭數</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input9" placeholder="num">

            </div>
          </div>

          <div class="form-group row ">
            <label for="input38" class="col-4 col-sm-2 col-form-label">測量日期</label>
            <div class="col-8 col-sm-10">
              <ejs-datepicker locale='en-US' format='yyyy/MM/dd' id="input9" placeholder="請選擇"></ejs-datepicker>

            </div>
          </div>


          <div class="form-group row ">
            <label for="input10" class="col-4 col-sm-2 col-form-label">RFID</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input10" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input11" class="col-4 col-sm-2 col-form-label">耳號</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input11" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input12" class="col-4 col-sm-2 col-form-label">產地</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input12" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input13" class="col-4 col-sm-2 col-form-label">撥入日期</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input13" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input14" class="col-4 col-sm-2 col-form-label">來源部門</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input14" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input15" class="col-4 col-sm-2 col-form-label">購入金額</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input15" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input16" class="col-4 col-sm-2 col-form-label">基因</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input16" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input17" class="col-4 col-sm-2 col-form-label">多產基因</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input17" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input18" class="col-4 col-sm-2 col-form-label">肉質基因</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input18" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input19" class="col-4 col-sm-2 col-form-label">增肌基因</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input19" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input20" class="col-4 col-sm-2 col-form-label">增長基因</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input20" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input21" class="col-4 col-sm-2 col-form-label">產精基因</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input21" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input22" class="col-4 col-sm-2 col-form-label">背脂厚度(公分)</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input22" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input23" class="col-4 col-sm-2 col-form-label">4~5肋</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input23" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input24" class="col-4 col-sm-2 col-form-label">後肋</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input24" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input25" class="col-4 col-sm-2 col-form-label">後腰</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input25" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input26" class="col-4 col-sm-2 col-form-label">飼料效率(F/G)</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input26" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input27" class="col-4 col-sm-2 col-form-label">體冠</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input27" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input28" class="col-4 col-sm-2 col-form-label">鞭長：(公分)</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input28" placeholder="">
            </div>
          </div>


          <div class="form-group row ">
            <label for="input29" class="col-4 col-sm-2 col-form-label">駕乘意願：高</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input29" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input30" class="col-4 col-sm-2 col-form-label">陰莖外觀：正常</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input30" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input31" class="col-4 col-sm-2 col-form-label">備 註</label>
            <div class="col-8 col-sm-10">
              <textarea class="form-control form-control-sm" id="input31" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group row ">
            <label for="input33" class="col-4 col-sm-2 col-form-label">建立日期</label>
            <div class="col-8 col-sm-10">
              <ejs-datepicker locale='en-US' format='yyyy/MM/dd' id="input33"></ejs-datepicker>

            </div>
          </div>

          <div class="form-group row ">
            <label for="input34" class="col-4 col-sm-2 col-form-label">人員</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input34" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <label for="input35" class="col-4 col-sm-2 col-form-label">更新日期</label>
            <div class="col-8 col-sm-10">
              <ejs-datepicker locale='en-US' format='yyyy/MM/dd' id="input35"></ejs-datepicker>
            </div>
          </div>

          <div class="form-group row ">
            <label for="input36" class="col-4 col-sm-2 col-form-label">人員</label>
            <div class="col-8 col-sm-10">
              <input type="text" class="form-control form-control-sm" id="input36" placeholder="">
            </div>
          </div>

          <div class="form-group row ">
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-success" (click)="goToOperate()">Save</button>
              <button type="submit" class="btn btn-secondary" (click)="goToHome()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
