input, textarea {
  box-shadow: 0.5px 0.5px 1px;
}
label {
  font-weight: 700;
  font-size: 1rem;
}
.e-input-group {
  box-shadow: 0.5px 0.5px 1px !important;
  padding:3px !important;

}
#toolbar_dropdown > .e-input-group {
  box-shadow: none !important;
  padding:0px !important;
}
.bgcolor {
  background-color: rgb(252, 145, 145);
}
