<div class="col-md-12" style="box-shadow: 1px 1px 20px; padding: 0">
  <div class="card main-card">
    <!-- <div class="card-header">
      <h3 class="card-title"><i class="fas fa-users"></i> User List
      </h3>
    </div> -->
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <ejs-grid
        #grid
        id="grid"
        [dataSource]="data"
        [allowPaging]="true"
        [allowResizing]="true"
        [allowSorting]="true"
        gridLines="Both"
        [locale]="locale"
        (actionBegin)="actionBegin($event)"
        (actionComplete)="actionComplete($event)"
        [editSettings]="editSettings"
        [pageSettings]="pageSettings"
        [toolbar]="toolbarOptions"
        [allowExcelExport]="true"
        (recordDoubleClick)="onDoubleClick($event)"
        (toolbarClick)="toolbarClick($event)"
        (headerCellInfo)="headerCellInfo($event)"
        (dataBound)="dataBound()"
        (rowDataBound)='rowDataBound($event)'
        (excelExportComplete)="excelExpComplete($event)"
      >
        <ng-template #odsTemplate let-data>
          <button
            class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib"
            type="button"
            id="grid_odsexport"
            tabindex="-1"
            (click)="odsExport()"
            style="width: auto"
          >
            <span class="e-btn-icon e-pdfexport e-icons e-icon-left"></span
            ><span class="e-tbar-btn-text"
              >{{ "Ods Export" | translate }}
            </span>
          </button>
        </ng-template>
        <ng-template #parentTemplate let-data>
          <ejs-dropdownlist
            id="toolbar_dropdown"
            [allowFiltering]="true"
            [fields]="fields"
            [dataSource]="toobarParentData"
            [(ngModel)]="upperId"
            (ngModelChange)="onChange($event)"
            [placeholder]="'Choose a menu parent' | translate"
            style="width: 200px"
            (filtering)="onFiltering2($event)"
          >
            <ng-template #itemTemplate let-data>
              {{ data.name }}
            </ng-template>
          </ejs-dropdownlist>
        </ng-template>
        <e-columns>
          <e-column
            field="option"
            textAlign="Left"
            headerTextAlign="Center"
            width="80"
            headerTextAlign="Center"
            [allowSorting]="false"
            [allowSearching]="false"
            [allowGrouping]="false"
            [allowFiltering]="false"
            [allowEditing]="false"
            headerText="{{ 'OPTION' | translate }}"
          >
            <ng-template #template let-data>
              <span (click)="delete(data.id)" class="delete-grid">
                <i class="fa fa-trash"></i>
              </span>
              <span (click)="openModal(optionModal, data)" class="edit-grid">
                <i class="fa fa-edit"></i>
              </span>
            </ng-template>
          </e-column>
          <e-column
            field="status"
            textAlign="Left"
            headerTextAlign="Center"
            width="80"
            headerText="{{ 'SYSTEM_MENU_STATUS' | translate }}"
          >
          <ng-template #template let-data>
            <app-my-checkbox
              [(checked)]="data.status"
              [label]='data.status === 1 ? ("On" | translate) : ("Off" | translate)'
              (checkedChange)="checkedChange($event, data, 'status')"
            ></app-my-checkbox>
          </ng-template>

          </e-column>
          <e-column
            field="type"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SYSTEM_MENU_TYPE' | translate }}"
          >
          </e-column>
          <e-column
            field="sortId"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SORT_ID' | translate }}"
          >
          </e-column>
          <e-column
            field="menuName"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SYSTEM_MENU_NAME' | translate }}"
          >
          </e-column>

          <e-column
            field="menuNameCn"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SYSTEM_MENU_NAMECN' | translate }}"
          >
          </e-column>

          <e-column
            field="menuNameEn"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SYSTEM_MENU_NAMEEN' | translate }}"
          >
          </e-column>
          <e-column
            field="menuNameVn"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SYSTEM_MENU_NAMEVN' | translate }}"
          >
          </e-column>
          <e-column
            field="menuIcon"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SYSTEM_MENU_ICON' | translate }}"
          >
          </e-column>

          <e-column
            field="farmGgp"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'GGP' | translate }}"
          >
            <ng-template #template let-data>
              <app-my-checkbox
                [(checked)]="data.farmGgp"
                (checkedChange)="checkedChange($event, data, 'farmGgp')"
              ></app-my-checkbox>
            </ng-template>
          </e-column>

          <e-column
            field="farmGp"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'GP' | translate }}"
          >
            <ng-template #template let-data>
              <app-my-checkbox
                [(checked)]="data.farmGp"
                (checkedChange)="checkedChange($event, data, 'farmGp')"
              ></app-my-checkbox>
            </ng-template>
          </e-column>

          <e-column
            field="farmPmpf"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'PMPF' | translate }}"
          >
            <ng-template #template let-data>
              <app-my-checkbox
                [(checked)]="data.farmPmpf"
                (checkedChange)="checkedChange($event, data, 'farmPmpf')"
              ></app-my-checkbox>
            </ng-template>
          </e-column>

          <e-column
            field="farmSemen"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SEMEN' | translate }}"
          >
            <ng-template #template let-data>
              <app-my-checkbox
                [(checked)]="data.farmSemen"
                (checkedChange)="checkedChange($event, data, 'farmSemen')"
              ></app-my-checkbox>
            </ng-template>
          </e-column>

          <e-column
            field="farmNursery"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'NURSERY' | translate }}"
          >
            <ng-template #template let-data>
              <app-my-checkbox
                [(checked)]="data.farmNursery"
                (checkedChange)="checkedChange($event, data, 'farmNursery')"
              ></app-my-checkbox>
            </ng-template>
          </e-column>

          <e-column
            field="farmGrower"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'GROWER' | translate }}"
          >
            <ng-template #template let-data>
              <app-my-checkbox
                [(checked)]="data.farmGrower"
                (checkedChange)="checkedChange($event, data, 'farmGrower')"
              ></app-my-checkbox>
            </ng-template>
          </e-column>

          <e-column
            field="comment"
            [allowSearching]="false"
            [allowSorting]="false"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SYSTEM_MENU_COMMENT' | translate }}"
          >
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 [ngbTooltip]="title" class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_PARENT" for="upperId">{{
            "SYSTEM_MENU_PARENT" | translate
          }}</label>
          <ejs-dropdownlist
            [(value)]="model.upperId"
            [allowFiltering]="true"
            [fields]="fields"
            [dataSource]="parentData"
            (filtering)="onFiltering($event)"
          ></ejs-dropdownlist>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_TYPE" for="type">{{
            "SYSTEM_MENU_TYPE" | translate
          }}</label>
          <span ngbTooltip="Text length" class="max-length">
            ( {{ "Text length" | translate }} <= 20 )</span
          >
          <input
            [(ngModel)]="model.type"
            maxlength="20"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_NAME" for="menuName">{{
            "SYSTEM_MENU_NAME" | translate
          }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span ngbTooltip="( Text length <= 200 )" class="max-length">
            ( {{ "Text length" | translate }} <= 200 )</span
          >
          <input
            [(ngModel)]="model.menuName"
            maxlength="200"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_NAMECN" for="menuNameCn">{{
            "SYSTEM_MENU_NAMECN" | translate
          }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span ngbTooltip="( Text length <= 200 )" class="max-length">
            ( {{ "Text length" | translate }} <= 200 )</span
          >
          <input
            [(ngModel)]="model.menuNameCn"
            maxlength="200"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_NAMEEN" for="menuNameEn">{{
            "SYSTEM_MENU_NAMEEN" | translate
          }}</label>
          <span ngbTooltip="( Text length <= 200 )" class="max-length">
            ( {{ "Text length" | translate }} <= 200 )</span
          >
          <input
            [(ngModel)]="model.menuNameEn"
            maxlength="200"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_NAMEVN" for="menuNameVn">{{
            "SYSTEM_MENU_NAMEVN" | translate
          }}</label>
          <span ngbTooltip="( Text length <= 200 )" class="max-length">
            ( {{ "Text length" | translate }} <= 200 )</span
          >
          <input
            [(ngModel)]="model.menuNameVn"
            maxlength="200"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_ICON" for="menuIcon">{{
            "SYSTEM_MENU_ICON" | translate
          }}</label>
          <span ngbTooltip="( Text length <= 200 )" class="max-length">
            ( {{ "Text length" | translate }} <= 200 )</span
          >

          <input
            [(ngModel)]="model.menuIcon"
            maxlength="200"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_LINK" for="menuLink">{{
            "SYSTEM_MENU_LINK" | translate
          }}</label>
          <span ngbTooltip="( Text length <= 200 )" class="max-length">
            ( {{ "Text length" | translate }} <= 200 )</span
          >

          <input
            [(ngModel)]="model.menuLink"
            maxlength="200"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_SORTID" for="sortId">{{
            "SYSTEM_MENU_SORTID" | translate
          }}</label>
          <input
            [(ngModel)]="model.sortId"
            name="sortId"
            type="number"
            min="0"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center">
        <label for="status" class="my-checkbox-label"
          >{{ "SYSTEM_MENU_STATUS" | translate }}&nbsp;</label
        >
        <ejs-checkbox
          [label]="checked === true ? ('On' | translate) : ('Off' | translate)"
          [(ngModel)]="checked"
          (ngModelChange)="onCheckedChange($event)"
        ></ejs-checkbox>
      </div>

      <div class="col-md d-flex align-items-center">
        <label class="my-checkbox-label"
          >{{ "FARM_GGP" | translate }}&nbsp;</label
        >
        <app-my-checkbox [(checked)]="model.farmGgp"></app-my-checkbox>
      </div>
      <div class="col-md d-flex align-items-center">
        <label class="my-checkbox-label"
          >{{ "FARM_GP" | translate }}&nbsp;</label
        >
        <app-my-checkbox [(checked)]="model.farmGp"></app-my-checkbox>
      </div>
      <div class="col-md d-flex align-items-center">
        <label class="my-checkbox-label"
          >{{ "FARM_PMPF" | translate }}&nbsp;</label
        >
        <app-my-checkbox [(checked)]="model.farmPmpf"></app-my-checkbox>
      </div>

      <div class="col-md d-flex align-items-center">
        <label class="my-checkbox-label"
          >{{ "FARM_SEMEN" | translate }}&nbsp;</label
        >
        <app-my-checkbox [(checked)]="model.farmSemen"></app-my-checkbox>
      </div>

      <div class="col-md d-flex align-items-center">
        <label class="my-checkbox-label"
          >{{ "FARM_NURSERY" | translate }}&nbsp;</label
        >
        <app-my-checkbox [(checked)]="model.farmNursery"></app-my-checkbox>
      </div>

      <div class="col-md d-flex align-items-center">
        <label class="my-checkbox-label"
          >{{ "FARM_GROWER" | translate }}
        </label>
        <app-my-checkbox [(checked)]="model.farmGrower"></app-my-checkbox>
      </div>
      <div class="col-md-12 col-12 mt-2">
        <div class="form-group">
          <label ngbTooltip="SYSTEM_MENU_COMMENT" for="comment">{{
            "SYSTEM_MENU_COMMENT" | translate
          }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            rows="4"
            cols="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">{{ "Create by" | translate }}</span>
          : {{ audit?.createBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Create date time" | translate
          }}</span>
          : {{ audit?.createDate }}</span
        >
      </p>
      <p>
        <span class="mr-2"
          ><span class="my-font-weight-bold">{{
            "Update by" | translate
          }}</span>
          : {{ audit?.updateBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Update date time" | translate
          }}</span>
          : {{ audit?.updateDate }}</span
        >
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ "Note: (*) is a required field" | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      ngbTooltip="CLOSE"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      [disabled]="!model.menuName"
      (click)="save()"
      ngbTooltip="SAVE"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
