<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="false"
  [allowResizing]="true"
  gridLines="Both"
  [locale]="locale"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [editSettings]="editSettings"
  [pageSettings]="pageSettings"
  [toolbar]="toolbarOptions"
  [allowExcelExport]="true"
  enableInfiniteScrolling='true'
  (recordDoubleClick)="onDoubleClick($event)"
  (toolbarClick)="toolbarClick($event)"
  [height]="bottomHeight"
>
  <e-columns>
    <e-column
      field="option"
      textAlign="Left"
          headerTextAlign="Center"
      width="80"
      headerTextAlign="Center"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      headerText="{{ 'OPTION' | translate}}"
    >
      <ng-template #template let-data>
        <span (click)="delete(data.id)" class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
        <span (click)="openModal(optionModal, data)" class="edit-grid">
          <i class="fa fa-edit"></i>
        </span>
      </ng-template>
    </e-column>

    <e-column
      field="typeName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'PIG_PRESCRIPTION_TYPE' | translate }}"
    >
    </e-column>

    <e-column
      field="recordDate"
      type='Date'
      format="yyyy/MM/dd"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'RECORD_DATE' | translate }}"
    >
    </e-column>
    <e-column
      field="recordTime"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'RECORD_TIME' | translate }}"
    >
    </e-column>
    <e-column
      field="prescription"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'PRESCRIPTION' | translate }}"
    >
    </e-column>
    <e-column
      field="comment"
      [allowSearching]="false"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'PIG_PRESCRIPTION_COMMENT' | translate }}"
    >
    </e-column>
    <e-column
      field="id"
[allowSearching]="false"
      textAlign="Left"
          headerTextAlign="Center"
      [isPrimaryKey]="true"
      [visible]="false"
      headerText="ID"
    >
    </e-column>
  </e-columns>
</ejs-grid>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label for="type">{{
            "PIG_PRESCRIPTION_TYPE" | translate
          }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-code-type-dropdownlist
          id="type-remote"
          [codeType]="'Pig_Prescription_Type'"
          [(selectedValue)]="model.type"
          >
      </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="prescription">{{
            "PRESCRIPTION" | translate
          }}</label>
          <span class="max-length"> ( {{"Text length"| translate }} <= 100 )</span>
          <input
            [(ngModel)]="model.prescription"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

       <div class="col-md-6">
        <div class="form-group">
          <label for="recordDate">{{ "RECORD_DATE" | translate }}</label>
          <ejs-datepicker locale='en-US' format='yyyy/MM/dd' [(ngModel)]="model.recordDate"></ejs-datepicker>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="recordTime">{{ "RECORD_TIME" | translate }}</label>
          <app-maskedtimetextbox [(selectedValue)]="model.recordTime"></app-maskedtimetextbox>
        </div>
      </div>






      <div class="col-12">
        <div class="form-group">
          <label for="comment">{{
            "CHECKIN_COMMENT" | translate
          }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
      </p>
      <p>
        <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ 'Note: (*) is a required field' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      [disabled]="!model.type"
      (click)="save()"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
