
.left {
  padding-right: 0 !important;
}
.right {
  padding-left: 8px !important;

}
/* mobile width < 740px */
@media only screen and (max-width: 46.1875rem) {
  .left {
    padding-right: 15px !important;
    padding-bottom: 15px !important;
  }
  .right {
    padding-left: 15px !important;

  }
}
/* tablet width >= 740px and width < 1024px */
@media only screen and (min-width: 46.1875rem) and (max-width: 63.9375rem) {
  .left {
    padding-right: 15px !important;
    padding-bottom: 15px !important;

  }
  .right {
    padding-left: 15px !important;

  }
}
.active-old {
  color: #fff;
  background-color: #fd7e14e8 !important;
}
.my-nav-old {
  padding: 0.25rem 0.3rem!important;
  margin-right: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  color: #fff !important;
  background-color: #6c757d;
  border-color: #6c757d;
}
.my-nav-old.active {
  box-shadow: 0 0 0 .2rem rgba(130,138,145,.5)!important;
    background-color: #d2d2d2!important;
    border: 1px solid #d2d2d2!important;
    color: #000!important;
}
