<ngx-spinner [fullScreen]="false" type="square-jelly-box" size="medium">
  <p class="loading">Loading data...</p>
</ngx-spinner>

<div class="col-md-12" style="box-shadow: 1px 1px 20px; padding: 0">
  <div class="card main-card">
    <div class="card-body table-responsive p-0">
      <ejs-grid
        #grid
        id="grid"
        [dataSource]="data"
        [allowPaging]="true"
        [allowResizing]="true"
        [showColumnMenu]="false"
        [allowSorting]="true"
        [allowExcelExport]="true"
        [toolbar]="toolbarOptions"
        [pageSettings]="pageSettings"
        gridLines="Both"
        [editSettings]="editSettings"
        (toolbarClick)="toolbarClick($event)"
        (dataBound)="dataBound()"
        (excelExportComplete)='excelExpComplete($event)'

      >
        <e-columns>
          <ng-template #odsTemplate let-data>
            <button
              class="e-tbar-btn e-tbtn-txt e-control e-btn e-lib"
              type="button"
              id="grid_odsexport"
              tabindex="-1"
              (click)="odsExport()"
              style="width: auto"
            >
              <span class="e-btn-icon e-pdfexport e-icons e-icon-left"></span
              ><span class="e-tbar-btn-text">{{ 'Ods Export' | translate}} </span>
            </button>
          </ng-template>
          <e-column
            field="option"
            textAlign="Left"
          headerTextAlign="Center"
            width="80"
            headerTextAlign="Center"
            [allowSorting]="false"
            [allowSearching]="false"
            [allowGrouping]="false"
            [allowFiltering]="false"
            [allowEditing]="false"
            headerText="{{ 'OPTION' | translate }}"
          >
            <ng-template #template let-data>
              <span (click)="delete(data.id)" class="delete-grid">
                <i class="fa fa-trash"></i>
              </span>
              <span (click)="openModal(optionModal, data)" class="edit-grid">
                <i class="fa fa-edit"></i>
              </span>
            </ng-template>
          </e-column>

          <e-column
            field="id"
[allowSearching]="false"
            textAlign="Left"
          headerTextAlign="Center"
            [visible]="false"
            isPrimaryKey="true"
            headerText="{{ 'ID' }}"
          >
          </e-column>

          <e-column
          field="semenNo"
          textAlign="Left"
        headerTextAlign="Center"
          headerText="{{ 'SEMEN_NO' | translate }}"
        >
        </e-column>

        <e-column
        field="semenName"
        textAlign="Left"
      headerTextAlign="Center"
        headerText="{{ 'SEMEN_NAME' | translate }}"
      >
      </e-column>

      <e-column
      field="semenType"
      textAlign="Left"
    headerTextAlign="Center"
      headerText="{{ 'SEMEN_TYPE' | translate }}"
    >
    </e-column>

          <e-column
            field="spec"
            textAlign="Left"
          headerTextAlign="Center"
            [width]="120"
            headerText="{{ 'SEMEN_SPEC' | translate }}"
          >
          </e-column>
          <e-column
            field="amount"
            textAlign="Left"
            format="N"
          headerTextAlign="Center"
            [width]="100"
            headerText="{{ 'SEMEN_AMOUNT'| translate }}"
          >
          </e-column>
          <e-column
            field="price"
            format="N"
            textAlign="Left"
          headerTextAlign="Center"
            headerTextAlign="Center"
            headerText="{{ 'SEMEN_PRICE' | translate }}"
          >
          </e-column>
          <e-column
            field="cost"
            format="N"

            textAlign="Left"
          headerTextAlign="Center"
            headerTextAlign="Center"
            headerText="{{ 'SEMEN_COST' | translate }}"
          >
          </e-column>
          <e-column
          field="expireDate"
          textAlign="Left"
          type="date"
          format="yyyy/MM/dd"
        headerTextAlign="Center"
          headerText="{{ 'EXPIRE_DATE' | translate }}"
        >
        </e-column>
          <e-column
            field="locationName"
            textAlign="Left"
          headerTextAlign="Center"
            headerTextAlign="Center"
            headerText="{{ 'SEMEN_LOCATION' | translate }}"
          >
          </e-column>


          <e-column
            field="comment"
            [allowSearching]="false"
            textAlign="Left"
            headerTextAlign="Center"
            headerText="{{ 'SEMEN_COMMENT' | translate }}"
          >
          </e-column>

        </e-columns>
      </ejs-grid>
    </div>
    <!-- /.card-body -->
  </div>
</div>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 [ngbTooltip]="title" class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="option">
    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label for="no">{{
            "SEMEN_NO" | translate
          }}</label>
          <span class="max-length">
            ( {{"Text length"| translate }} <= 100 )</span
          >
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>

          <input
            [(ngModel)]="model.semenNo"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="name">{{
            "SEMEN_NAME" | translate
          }}</label>
          <span class="max-length">
            ( {{"Text length"| translate }} <= 100 )</span
          >
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>

          <input
            [(ngModel)]="model.semenName"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="spec">{{
            "SEMEN_TYPE" | translate
          }}</label>
          <span class="max-length">
            ( {{"Text length"| translate }} <= 100 )</span
          >

          <input
            [(ngModel)]="model.semenType"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="vendor">{{ "VENDOR" | translate }}</label>
          <ejs-dropdownlist
            [(ngModel)]="model.vendorGuid"
            [fields]="fields"
            [dataSource]="vendorData"
          ></ejs-dropdownlist>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="spec">{{
            "SEMEN_SPEC" | translate
          }}</label>
          <span class="max-length">
            ( {{"Text length"| translate }} <= 100 )</span
          >

          <input
            [(ngModel)]="model.spec"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="amount">{{
            "SEMEN_AMOUNT" | translate
          }}</label>

          <input
            [(ngModel)]="model.amount"
            min="0"
            type="number"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="price">{{
            "SEMEN_PRICE" | translate
          }}</label>
          <input
            [(ngModel)]="model.price"
            min="0"
            type="number"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="cost">{{
            "SEMEN_COST" | translate
          }}</label>
          <input
            [(ngModel)]="model.cost"
            min="0"
            type="number"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="location">{{
            "LOCATION" | translate
          }}</label>
          <app-code-type-dropdownlist
          id="type-remote"
          [codeType]="'Location'"
          [(selectedValue)]="model.location"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="expireDate">{{ "EXPIRE_DATE" | translate }}</label>
          <ejs-datepicker locale='en-US' format='yyyy/MM/dd' [(ngModel)]="model.expireDate"></ejs-datepicker>
        </div>
      </div>
      <div class="col-md-12">

        <div class="form-group">
          <label>{{
            "SEMEN_COMMENT" | translate
          }}</label>
          <textarea
            class="form-control"
            [(ngModel)]="model.comment"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
      </p>
      <p>
        <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ 'Note: (*) is a required field' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      ngbTooltip="CLOSE"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      type="submit"
      [disabled]="!model.semenNo && !model.semenName"
      (click)="save()"
      ngbTooltip="SAVE"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
