

<div class="main-content" id="main-text">
  <div class="sidebar-content">
    <div class="row">
      <div class="col-12 p-0">
        <div class="heading">豬隻基本資料 Pig Data</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-2 p-0 d-flex justify-content-between">
       <div class="d-flex justify-content-start align-items-center">
         <label class="mx-2">型態</label>
        <select id="u7_input" class="u7_input form-control">
          <option class="u7_input_option" value="種公豬">種公豬</option>
          <option class="u7_input_option" value="種母豬">種母豬</option>
          <option class="u7_input_option" value="新公豬">新公豬</option>
          <option class="u7_input_option" value="新母豬">新母豬</option>
          <option class="u7_input_option" value="哺乳豬">哺乳豬</option>
          <option class="u7_input_option" value="保育豬">保育豬</option>
          <option class="u7_input_option" value="肥育豬">肥育豬</option>
        </select>
       </div>

       <div>
         <button class="btn btn-success mr-2">新增作業</button>
       </div>


      </div>

      <div class="col-12 p-0">

        <div class="title ml-2">作業紀錄 Operate Record</div>
      </div>

      <div class="col-12 my-2 p-0 d-flex justify-content-start">
        <div class="d-flex justify-content-start align-items-center">
          <label class="mx-2">日期</label>
         <select id="u7_input" class="u7_input form-control">
          <option class="u12_input_option" value="請選擇">請選擇</option>
          <option class="u12_input_option" value="2020/08/01">2020/08/01</option>
          <option class="u12_input_option" value="2020/07/01">2020/07/01</option>
          <option class="u12_input_option" value="2020/06/01">2020/06/01</option>
          <option class="u12_input_option" value="2020/05/01">2020/05/01</option>
          <option class="u12_input_option" value="2020/04/01">2020/04/01</option>
          <option class="u12_input_option" value="2020/03/01">2020/03/01</option>
          <option class="u12_input_option" value="2020/02/01">2020/02/01</option>
          <option class="u12_input_option" value="2020/01/01">2020/01/01</option>
         </select>
        </div>

        <div>
          <button class="btn btn-primary ml-2">Search</button>
        </div>


       </div>

      <div class="col-12 p-0">

        <table class="table table-bordered">

          <tbody>
            <tr>
              <td>
                IDNO: ABC0001 <br>
                作業項目<br>
                Operate : Feeding/Moving<br>
              </td>
              <td>
                Pigs: 550 pcs<br>
                PEN: A0052<br>
              </td>
              <td align="center">
                <button class="btn btn-secondary" (click)='goToOperateDetail()'>詳細資料<br>Detail</button>
              </td>
            </tr>

            <tr>
              <td>
                IDNO: ABC0001 <br>
                作業項目<br>
                Operate : Feeding/Moving<br>
              </td>
              <td>
                Pigs: 550 pcs<br>
                PEN: A0052<br>
              </td>
              <td align="center">
                <button class="btn btn-secondary" (click)='goToOperateDetail()'>詳細資料<br>Detail</button>
              </td>
            </tr>

            <tr>
              <td>
                IDNO: ABC0001 <br>
                作業項目<br>
                Operate : Feeding/Moving<br>
              </td>
              <td>
                Pigs: 550 pcs<br>
                PEN: A0052<br>
              </td>
              <td align="center">
                <button class="btn btn-secondary" (click)='goToOperateDetail()'>詳細資料<br>Detail</button>
              </td>
            </tr>

            <tr>
              <td>
                IDNO: ABC0001 <br>
                作業項目<br>
                Operate : Feeding/Moving<br>
              </td>
              <td>
                Pigs: 550 pcs<br>
                PEN: A0052<br>
              </td>
              <td align="center">
                <button class="btn btn-secondary" (click)='goToOperateDetail()'>詳細資料<br>Detail</button>
              </td>
            </tr>

            <tr>
              <td>
                IDNO: ABC0001 <br>
                作業項目<br>
                Operate : Feeding/Moving<br>
              </td>
              <td>
                Pigs: 550 pcs<br>
                PEN: A0052<br>
              </td>
              <td align="center">
                <button class="btn btn-secondary" (click)='goToOperateDetail()'>詳細資料<br>Detail</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
