<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="true"
  [allowResizing]="true"
  gridLines="Both"
  [locale]="locale"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [editSettings]="editSettings"
  [pageSettings]="pageSettings"
  [toolbar]="toolbarOptions"
  [allowExcelExport]="true"
  (recordDoubleClick)="onDoubleClick($event)"
  (toolbarClick)="toolbarClick($event)"
>
  <e-columns>
    <e-column
      field="#"
      [allowSearching]="false"
      textAlign="Left"
          headerTextAlign="Center"
      width="80"
      isPrimaryKey="true"
      headerText="#"
    >
      <ng-template #template let-data>
        {{ NO(data.index) }}
      </ng-template>
      <ng-template #editTemplate let-data> # </ng-template>
    </e-column>
    <e-column
      field="option"
      textAlign="Left"
      headerTextAlign="Center"
      width="80"
      headerTextAlign="Center"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      headerText="{{ 'OPTION' | translate }}"
    >
      <ng-template #template let-data>
        <span (click)="delete(data.id)" class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
        <span (click)="openModal(optionModal, data)" class="edit-grid">
          <i class="fa fa-edit"></i>
        </span>
      </ng-template>
    </e-column>
    <e-column
      field="treatmentTypeName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_TYPE' | translate }}"
    >
    </e-column>
    <e-column
      field="treatmentName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_NAME' | translate }}"
    >
    </e-column>
    <e-column
      field="treatmentMethod"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_METHOD' | translate }}"
    >
    </e-column>
    <e-column
      field="treatmentMedicineName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_MEDICINE' | translate }}"
    >
    </e-column>
    <e-column
      field="treatmentCare"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_CARE' | translate }}"
    >
    </e-column>

    <e-column
      field="methodType"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_METHOD_TYPE' | translate }}"
    >
    </e-column>
    <e-column
      field="methodFreq"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_METHOD_FREQ' | translate }}"
    >
    </e-column>
    <e-column
      field="methodUseTime"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_METHOD_USETIME' | translate }}"
    >
    </e-column>
    <e-column
      field="methodAmount"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_METHOD_AMOUNT' | translate }}"
    >
    </e-column>
    <e-column
      field="comment"
      [allowSearching]="false"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BOM_TREATMENT_COMMENT' | translate }}"
    >
    </e-column>
    <e-column
      field="id"
[allowSearching]="false"
      textAlign="Left"
          headerTextAlign="Center"
      [isPrimaryKey]="true"
      [visible]="false"
      headerText="ID"
    >
    </e-column>
  </e-columns>
</ejs-grid>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="treatmentType">{{
            "BOM_TREATMENT_TYPE" | translate
          }}</label>
          <app-code-type-dropdownlist
            id="treatment-type-remote"
            [codeType]="'BOM_Treatment_Type'"
            [(selectedValue)]="model.treatmentType"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="treatmentName">{{
            "BOM_TREATMENT_NAME" | translate
          }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.treatmentName"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="treatmentMethod">{{
            "BOM_TREATMENT_METHOD" | translate
          }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.treatmentMethod"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="treatmentCare">{{
            "BOM_TREATMENT_CARE" | translate
          }}</label>
          <span class="max-length">
            ( {{ "Text length" | translate }} <= 100 )</span
          >
          <input
            [(ngModel)]="model.treatmentCare"
            maxlength="100"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="treatmentMedicine">{{
            "BOM_TREATMENT_MEDICINE" | translate
          }}</label>
          <app-medicine-dropdownlist
            [(selectedValue)]="model.treatmentMedicine"
          >
          </app-medicine-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="methodType">{{
            "BOM_TREATMENT_METHOD_TYPE" | translate
          }}</label>
          <app-code-type-dropdownlist
            id="method-type-remote"
            [codeType]="'BOM_Method_Type'"
            [(selectedValue)]="model.methodType"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="methodFreq">{{
            "BOM_TREATMENT_METHOD_FREQ" | translate
          }}</label>
          <input
            [(ngModel)]="model.methodFreq"
            name="methodFreq"
            type="number"
            min="0"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="methodUseTime">{{
            "BOM_TREATMENT_METHOD_USETIME" | translate
          }}</label>
          <input [(ngModel)]="model.methodUseTime" name="methodUseTime" type="number" min="0" class="form-control " />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="methodAmount">{{
            "BOM_TREATMENT_METHOD_AMOUNT" | translate
          }}</label>
          <input
            [(ngModel)]="model.methodAmount"
            name="methodAmount"
            type="number"
            min="0"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="comment">{{ "BOM_TREATMENT_COMMENT" | translate }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">{{ "Create by" | translate }}</span>
          : {{ audit?.createBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Create date time" | translate
          }}</span>
          : {{ audit?.createDate }}</span
        >
      </p>
      <p>
        <span class="mr-2"
          ><span class="my-font-weight-bold">{{
            "Update by" | translate
          }}</span>
          : {{ audit?.updateBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Update date time" | translate
          }}</span>
          : {{ audit?.updateDate }}</span
        >
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ "Note: (*) is a required field" | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      [disabled]="!model.treatmentName"
      (click)="save()"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
