<ejs-grid
  #grid
  id="grid"
  [dataSource]="data"
  [allowPaging]="false"
  [allowResizing]="true"
  gridLines="Both"
  [locale]="locale"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [editSettings]="editSettings"
  [pageSettings]="pageSettings"
  [toolbar]="toolbarOptions"
  [allowExcelExport]="true"
  enableInfiniteScrolling='true'
  (recordDoubleClick)="onDoubleClick($event)"
  (toolbarClick)="toolbarClick($event)"
  [height]="bottomHeight"
>
  <e-columns>
    <e-column
      field="option"
      textAlign="Left"
          headerTextAlign="Center"
      width="80"
      headerTextAlign="Center"
      [allowSorting]="false"
      [allowSearching]="false"
      [allowGrouping]="false"
      [allowFiltering]="false"
      [allowEditing]="false"
      headerText="{{ 'OPTION' | translate}}"
    >
      <ng-template #template let-data>
        <span (click)="delete(data.id)" class="delete-grid">
          <i class="fa fa-trash"></i>
        </span>
        <span (click)="openModal(optionModal, data)" class="edit-grid">
          <i class="fa fa-edit"></i>
        </span>
      </ng-template>
    </e-column>
    <e-column
      field="disease"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'DISEASE' | translate }}"
    >
    </e-column>
    <e-column
      field="medicine"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'MEDICINE' | translate }}"
    >
    </e-column>
    <e-column
      field="useTypeName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BIO_SECURITY_USE_TYPE' | translate }}"
    >
    </e-column>
    <e-column
      field="useUnitName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BIO_SECURITY_USE_UNIT' | translate }}"
    >
    </e-column>
    <e-column
      field="capacityName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BIO_SECURITY_CAPACITY' | translate }}"
    >
    </e-column>

    <e-column
      field="frequencyName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BIO_SECURITY_FREQUENCY' | translate }}"
    >
    </e-column>
    <e-column
      field="needleName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BIO_SECURITY_NEEDLE' | translate }}"
    >
    </e-column>
    <e-column
      field="applyDaysName"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BIO_SECURITY_APPLY_DAYS' | translate }}"
    >
    </e-column>

    <e-column
      field="comment"
      [allowSearching]="false"
      textAlign="Left"
          headerTextAlign="Center"
      headerText="{{ 'BIO_SECURITY_RECORD_COMMENT' | translate }}"
    >
    </e-column>
    <e-column
      field="id"
[allowSearching]="false"
      textAlign="Left"
          headerTextAlign="Center"
      [isPrimaryKey]="true"
      [visible]="false"
      headerText="ID"
    >
    </e-column>
  </e-columns>
</ejs-grid>

<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="disease">{{ "DISEASE" | translate }}</label>
        <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-disease-dropdownlist
          [(selectedValue)]="model.diseaseGuid"
          >
          </app-disease-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="medicine">{{
            "MEDICINE" | translate
          }}</label>
          <app-medicine-dropdownlist
          [(selectedValue)]="model.medicineGuid"
          >
          </app-medicine-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="useType">{{
            "BIO_SECURITY_USE_TYPE" | translate
          }}</label>
           <app-code-type-dropdownlist
          id="immunization-type-remote"
          [codeType]="'Immunization_UserType'"
          [(selectedValue)]="model.useType"
          >
          </app-code-type-dropdownlist>

        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="applyDays">{{
            "BIO_SECURITY_APPLY_DAYS" | translate
          }}</label>
          <app-code-type-dropdownlist
          id="method-applyDays-remote"
          [codeType]="'Immunization_ApplyDays'"
          [(selectedValue)]="model.applyDays"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="useUnit">{{
            "BIO_SECURITY_USE_UNIT" | translate
          }}</label>
           <app-code-type-dropdownlist
          id="immunization-unit"
          [codeType]="'Immunization_UseUnit'"
          [(selectedValue)]="model.useUnit"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="capacity">{{
            "BIO_SECURITY_CAPACITY" | translate
          }}</label>
           <app-code-type-dropdownlist
          id="immunization-cap"
          [codeType]="'Immunization_Capacity'"
          [(selectedValue)]="model.capacity"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="frequency">{{
            "BIO_SECURITY_FREQUENCY" | translate
          }}</label>
          <app-code-type-dropdownlist
          id="method-fre-remote"
          [codeType]="'Immunization_Frequency'"
          [(selectedValue)]="model.frequency"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="needle">{{
            "BIO_SECURITY_NEEDLE" | translate
          }}</label>
          <app-code-type-dropdownlist
          id="method-needle-remote"
          [codeType]="'Immunization_Needle'"
          [(selectedValue)]="model.needle"
          >
          </app-code-type-dropdownlist>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="realStartDate">{{ "BIO_SECURITY_EST_DATE" | translate }}</label>
          <ejs-datepicker locale='en-US' format='yyyy/MM/dd' [(ngModel)]="model.estDate"></ejs-datepicker>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="estTime">{{ "BIO_SECURITY_EST_TIME" | translate }}</label>
          <app-maskedtimetextbox [(selectedValue)]="model.estTime"></app-maskedtimetextbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="recordDate">{{ "BIO_SECURITY_RECORD_DATE" | translate }}</label>
          <ejs-datepicker locale='en-US' format='yyyy/MM/dd' [(ngModel)]="model.recordDate"></ejs-datepicker>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="recordTime">{{ "BIO_SECURITY_RECORD_TIME" | translate }}</label>
          <app-maskedtimetextbox [(selectedValue)]="model.recordTime"></app-maskedtimetextbox>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="comment">{{
            "BIO_SECURITY_RECORD_COMMENT" | translate
          }}</label>
          <textarea
            [(ngModel)]="model.comment"
            name="comment"
            type="text"
            class="form-control"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class='mr-2'> <span class='my-font-weight-bold'>{{ 'Create by' | translate}}</span> : {{audit?.createBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Create date time' | translate}}</span> : {{audit?.createDate}}</span>
      </p>
      <p>
        <span class='mr-2'><span class='my-font-weight-bold'>{{ 'Update by' | translate}}</span> : {{audit?.updateBy}}</span>
        <span><span class='my-font-weight-bold'>{{ 'Update date time' | translate}}</span> : {{audit?.updateDate}}</span>
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ 'Note: (*) is a required field' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      [disabled]="!model.diseaseGuid"
      (click)="save()"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
