
<nav class="navbar navbar-expand-lg navbar-light bg-light home-navbar" id="navbar">
  <div class="container">
      <a href="#" class="navbar-brand" style="padding: 8px 5px 5px 5px; background-color: #fff; border-radius: 30px;">
        <img src="../../../assets/images/logo-pigepm.png" alt="New generation ranch system" class="mr-2" />
        <span class="brand-text">{{'New Generation Ranch System' | translate}}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto mb-0 mt-0 py-0"></ul>
          <ul class="navbar-nav home-navbar-nav">
              <li class="nav-item"><a class="nav-link"></a></li>
              <li class="nav-item"><a class="nav-link"></a></li>
              <li class="nav-item"><a class="nav-link"></a></li>
              <li class="nav-item"><a class="nav-link"></a></li>
              <li class="nav-item"><a class="nav-link"></a></li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/login"><i class="fas fa-user mr-2"></i>{{'Login' | translate}}</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<div class="banner">
  <div class="container banner-box">
      <!-- <div class="banner-left">
          <h2>
              細心關注每頭豬仔出生到販售<br />
              簡單管理 , 即時掌握
          </h2>
          <div class="app-box">
              <a class="app_android" target="_blank" href="/"></a>
              <a target="_blank" href="/" class="app_ios"></a>
          </div>
      </div> -->
      <!-- <div class="banner_phone"></div> -->
  </div>
</div>
<!-- <div class="container" id="service">
  <div class="news_box">
      <div class="row mx-0 px-0 my-4">
          <div class="col-md-12 mb-1"><h2>最新消息</h2></div>
          <div class="col-12 col-md-6">
              <div class="py-2">
                  <div href="javascript:void(0)" class="list-item" style="cursor: pointer; list-style: none;"><span class="text-muted pr-3">2021-11-02</span>[系統公告] 豬場e把抓將於2021/11/02(二) 15:00~18:00進行系統維護</div>
              </div>
          </div>
          <div class="col-12 col-md-6">
              <div class="py-2">
                  <div href="javascript:void(0)" class="list-item" style="cursor: pointer; list-style: none;"><span class="text-muted pr-3">2021-10-21</span>[系統公告] 豬場e把抓將於2021/10/21(四) 19:00~23:00進行系統維護</div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="text-center"><button type="button" class="btn btn-outline-secondary mt-3">查看更多消息</button></div>
          </div>
      </div>
  </div>
</div> -->
<!-- <div class="service-container pt-4">
  <div class="row mx-0">
      <div class="col-md-12">
          <div class="service-mac">
              <h3>豬場e把抓 主要服務</h3>
              <img src="../../../assets/images/service_mac.png" alt="mac" />
          </div>
      </div>
      <div class="col-md-3 text-center bg-white py-5">
          <h3>自動排程工作提醒</h3>
          <div class="text-muted">建立豬隻基本資料，即自動產生各階段豬隻需處理工作</div>
      </div>
      <div class="col-md-3 text-center bg-white py-5">
          <h3>豬隻防疫計畫</h3>
          <div class="text-muted">預設專家提醒各豬種達日齡所需施打政府規定之疫苗</div>
      </div>
      <div class="col-md-3 text-center bg-white py-5">
          <h3>豬隻異常淘汰提醒</h3>
          <div class="text-muted text-center">提醒豬隻異常狀況與繁殖率不佳豬隻達淘汰標準</div>
      </div>
      <div class="col-md-3 text-center bg-white py-5">
          <h3>掌控豬場成本開銷</h3>
          <div class="text-muted">隨時掌控目前可販售豬隻與售出肉豬、飼料用量紀錄</div>
      </div>
  </div>
</div> -->
<!-- <div class="download_box">
  <h2>下載豬場e把抓 可以讓您</h2>
  <div class="download-item">
      <img src="../../../assets/images/download_icn01.png" alt="download" />
      <h3>隨時掌握豬場狀況</h3>
      <div class="hr_line"></div>
      <p>行動App管控豬隻，即時回填紙本紀錄 數據隨身好方便</p>
  </div>
  <div class="download-item">
      <img src="../../../assets/images/download_icn02.png" alt="download" />
      <h3>追溯紀錄問題</h3>
      <div class="hr_line"></div>
      <p>時間軸工作歷程，圖像化管理追溯豬隻問題好快速</p>
  </div>
  <div class="download-item">
      <img src="../../../assets/images/download_icn03.png" alt="download" />
      <h3>擁有專家協助</h3>
      <div class="hr_line"></div>
      <p>協助分析解決豬場大小事提升豬隻育成率好簡單</p>
  </div>
  <div id="contact"></div>
</div>
<div class="container text-center home-data-container mt-3" ratio="0.3">
  <h2>加入我們</h2>
  <p>使用<font>豬場e把抓</font>管理豬場大小事，快來加入智慧養豬行列吧!</p>
  <div class="row mx-0 px-0">
      <div class="col-6">
          <div class="number-name-count">587</div>
          <div class="number-name-item">牧場數量</div>
      </div>
      <div class="col-6">
          <div class="number-name-count">621</div>
          <div class="number-name-item">使用者數量</div>
      </div>
  </div>
</div> -->
<!-- <div class="contact_box">
  <div class="container">
      <h2>在養豬的路上遇到問題了嗎？</h2>
      <p>輔導欲改善豬場現有管理方式，提升母豬育成率降低繁殖損失； 了解豬隻遺傳育種、營養與飼料供應、繁殖生理(含人工授精)等問題。</p>
      <div class="txt-c">
          <div class="btn btn-dark btn-lg"><span>聯絡我們</span></div>
      </div>
  </div>
</div> -->
<!-- <div class="qrcode_box">
  <div id="download"></div>
  <div class="container mx-0 px-0">
      <h2 class="download_title">立即下載豬場e把抓</h2>
      <div class="row mx-0">
          <div class="col-md-6">
              <div class="phone_img"><img src="../../../assets/images/footer_phone.png" alt="豬場e把抓" /></div>
          </div>
          <div class="col-md-6">
              <h2>立即下載豬場e把抓</h2>
              <div class="qr-img"><img src="../../../assets/images/qrcode.png" width="120" height="120" /></div>
              <div class="app-sotre">
                  <a href="javascript:void(0)" target="_blank"><img src="../../../assets/images/app_ios.png" /></a>
                  <a href="javascript:void(0)" target="_blank"><img src="../../../assets/images/app_android.png" /></a>
              </div>
          </div>
      </div>
  </div>
</div> -->
<div class="footer" style="height: 500px; background-color: #5d3422">

  <div class="row">
    <div class="col d-sm-block d-lg-none d-flex align-items-center justify-content-center">
      <a class="btn-mobile-login" routerLink="/login"><i class="fas fa-user mr-2"></i>{{'Login' | translate}}</a>
    </div>
  </div>
  <div class="container">

      <!-- <p>服務時間：平日週一~週五 8:30 ~12:00, 13:30~17:30</p>
      <p>Email：agrservice@mail.linkchain.tw 系統維運：07-9703898#3#2</p>
      <p>Copyright©2020行政院農業委員會. All rights reserved. | <a class="text-info" href="javascript:void(0)">個人資料保護暨隱私權聲明</a> | <a class="text-info" href="javascript:void(0)">服務授權使用協議</a></p>
      <p>瀏覽解析度 360 X 640 ~ 1280 X 768 以上 ，支援 Firefox、Google Chrome</p> -->
  </div>
</div>
