<div class="row mb-2">
  <div class="col-12 mb-2 flex-container">
    <div><h3>種豬現況</h3></div>
    <div>年月</div>
    <div>
      <ejs-datepicker format="yyyy/MM" [(value)]="yearMonth" depth="Year" start="Year" [enableMask]="true" style="width:120px"></ejs-datepicker>
    </div>
  </div>
  
 <div class="col-12 flex-container1">
   <div class="flex-container2">
    <div>引種</div>
    <div class="flex-container3">
      <div>35</div>
      <div>5%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>配種</div>
    <div class="flex-container3">
      <div>2</div>
      <div>1%</div>
    </div>
   </div>


   <div class="flex-container2">
    <div>妊娠群養</div>
    <div class="flex-container3">
      <div>66</div>
      <div>6%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>分娩</div>
    <div class="flex-container3">
      <div>12</div>
      <div>3%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>離乳</div>
    <div class="flex-container3">
      <div>26</div>
      <div>5%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>保育</div>
    <div class="flex-container3">
      <div>653</div>
      <div>60%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>生長育肥</div>
    <div class="flex-container3">
      <div>521</div>
      <div>40%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>出售</div>
    <div class="flex-container3">
      <div>22</div>
      <div>3%</div>
    </div>
   </div>
 </div>

<div class="col-12 flex-container4">
  <div class="flex-container5">
    <div> 今日引種 </div>
    <div>5</div>
  </div>
 
  <div class="flex-container5">
    <div> 今日配種 </div>
    <div>6</div>
  </div>

  <div class="flex-container5">
    <div> 今日妊娠 </div>
    <div>1</div>
  </div>

  <div class="flex-container5">
    <div> 今日分娩 </div>
    <div>1</div>
  </div>

  <div class="flex-container5">
    <div> 今日離孔 </div>
    <div>20</div>
  </div>

  <div class="flex-container5">
    <div> 今日移欄 </div>
    <div>66</div>
  </div>

  <div class="flex-container5">
    <div> 今日移欄 </div>
    <div>45</div>
  </div>

  <div class="flex-container5">
    <div> 今日出售 </div>
    <div>22</div>
  </div>

</div>

<div class="col-12">
  <div class="detail">點擊查看明細</div>
</div>
</div>


<div class="row mb-2">
  <div class="col-12 mb-2 flex-container">
    <div><h3>仔豬現況</h3></div>
  </div>
  
 <div class="col-12 flex-container1">
   <div class="flex-container2">
    <div>懷孕待產</div>
    <div class="flex-container3">
      <div>35</div>
      <div>5%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>仔豬斷奶</div>
    <div class="flex-container3">
      <div>2</div>
      <div>1%</div>
    </div>
   </div>


   <div class="flex-container2">
    <div>妊娠群養</div>
    <div class="flex-container3">
      <div>66</div>
      <div>6%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>保育育成</div>
    <div class="flex-container3">
      <div>653</div>
      <div>60%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>育肥育成</div>
    <div class="flex-container3">
      <div>521</div>
      <div>40%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>死淘</div>
    <div class="flex-container3">
      <div>3</div>
      <div>0.1%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>疾病</div>
    <div class="flex-container3">
      <div>5</div>
      <div>0.2%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>彈性調整</div>
    <div class="flex-container3">
      <div>22</div>
      <div>3%</div>
    </div>
   </div>
 </div>

<div class="col-12 flex-container4">
  <div class="flex-container5">
    <div> 今日待產 </div>
    <div>5</div>
  </div>
 
  <div class="flex-container5">
    <div> 今日斷奶 </div>
    <div>6</div>
  </div>

  <div class="flex-container5">
    <div> 今日妊娠 </div>
    <div>1</div>
  </div>

  <div class="flex-container5">
    <div> 今日育成 </div>
    <div>1</div>
  </div>

  <div class="flex-container5">
    <div> 今日育成 </div>
    <div>20</div>
  </div>

  <div class="flex-container5">
    <div> 今日死淘 </div>
    <div>66</div>
  </div>

  <div class="flex-container5">
    <div> 今日疾病 </div>
    <div>45</div>
  </div>

  <div class="flex-container5">
    <div> 今日調整 </div>
    <div>22</div>
  </div>

</div>

<div class="col-12">
  <div class="detail">點擊查看明細</div>
</div>
</div>


<div class="row mb-2">
  <div class="col-12 mb-2 flex-container">
    <div><h3>肉豬現況</h3></div>
  </div>
  
 <div class="col-12 flex-container1">
   <div class="flex-container2">
    <div>餵飼作業</div>
    <div class="flex-container3">
      <div>35</div>
      <div>5%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>秤重作業</div>
    <div class="flex-container3">
      <div>2</div>
      <div>1%</div>
    </div>
   </div>


   <div class="flex-container2">
    <div>欄位異動</div>
    <div class="flex-container3">
      <div>66</div>
      <div>6%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>耳標作業</div>
    <div class="flex-container3">
      <div>653</div>
      <div>60%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>免疫作業</div>
    <div class="flex-container3">
      <div>521</div>
      <div>40%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>汰淘作業</div>
    <div class="flex-container3">
      <div>3</div>
      <div>0.1%</div>
    </div>
   </div>

   <div class="flex-container2">
    <div>死亡作業</div>
    <div class="flex-container3">
      <div>5</div>
      <div>0.2%</div>
    </div>
   </div>

 
 </div>

<div class="col-12 flex-container4">
  <div class="flex-container5">
    <div> 今日餵飼 </div>
    <div>5</div>
  </div>
 
  <div class="flex-container5">
    <div> 今日秤重 </div>
    <div>6</div>
  </div>

  <div class="flex-container5">
    <div> 今日異動 </div>
    <div>1</div>
  </div>

  <div class="flex-container5">
    <div> 今日耳標 </div>
    <div>1</div>
  </div>

  <div class="flex-container5">
    <div> 今日免疫 </div>
    <div>20</div>
  </div>

  <div class="flex-container5">
    <div> 今日汰淘 </div>
    <div>66</div>
  </div>

  <div class="flex-container5">
    <div> 今日死亡 </div>
    <div>45</div>
  </div>

  

</div>

<div class="col-12">
  <div class="detail">點擊查看明細</div>
</div>
</div>
