.e-label {
  font-weight: 500 !important;
  font-size: 1rem!important;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
}
.e-icons.e-frame {
  width: 1rem!important;
  height: 1rem!important;
}
label {
  font-weight: 500!important;
  font-size: 1rem!important;
}
